{% set statuses = get_faction_info(faction.identifier, 'status') %}

<twig:LayoutBox>
	<header>
		<twig:H2>
			Gouvernement
		</twig:H2>
	</header>

	<div class="fix-body">
		<div class="body">
			{% for minister in government_members %}
				<div class="flex items-center">
					<a href="{{ path('embassy', {'player': minister.id}) }}" alt="">
						<twig:Avatar :player="minister" class="w-10 h-10" />
					</a>
					<div>
						<span class="title">{{ statuses[minister.status - 1] }}</span>
						<strong class="name">{{ minister.name }}</strong>
					</div>
				</div>
			{% endfor %}

			{% if government_members|length == 0 %}
				<p class="text-sm italic">Aucun gouvernement formé</p>
			{% endif %}

			<twig:H3>Informations</twig:H3>

			<twig:NumberBox label="Nombre de points de la faction">
				{{ faction.points|number }}
			</twig:NumberBox>

			<twig:NumberBox label="Richesse de la faction">
				{{ faction.credits|number }}
			</twig:NumberBox>

			<twig:NumberBox label="Nombre de points des territoires contrôlés">
				{{ sectors_count }}
			</twig:NumberBox>

			<twig:NumberBox label="Nombre de joueurs actifs">
				{{ active_players_count }}
			</twig:NumberBox>
		</div>
	</div>
</twig:LayoutBox>
