{% extends 'layouts/game.html.twig' %}

{% block body %}
	<div id="background-paralax" class="embassy"></div>

	{{ include('molecules/embassy/sidebar.html.twig') }}
	{{ include('molecules/common/movers.html.twig') }}

	<div id="content">
		{{ include('molecules/common/advertising.html.twig') }}

		{% if player is defined %}
			{{ include('molecules/embassy/player_search.html.twig') }}
			{{ include('molecules/embassy/player_bases.html.twig') }}
			{{ include('molecules/common/default.html.twig') }}
		{% else %}
			{{ include('molecules/embassy/faction_nav.html.twig') }}
			{{ include('molecules/embassy/faction_flag.html.twig') }}
			{{ include('molecules/embassy/faction_infos.html.twig') }}
			{{ include('molecules/embassy/faction_government.html.twig') }}
			{{ include('components/faction/data/diplomacy/relations.html.twig') }}
		{% endif %}
	</div>
{% endblock body %}
