{% apply spaceless %}
<div class="component panel-info">
	<div class="head"></div>
	<div class="fix-body">
		<div class="body">
			<h4>{{ get_ship_info(ship_number, 'name') }}</h4>
			<a href="#" class="removeInfoPanel remove-info hb lt" title="fermer le panneau">x</a>

			<div class="table"><table>
				<tr>
					<td class="hb lt" title="coût de construction en ressource">coût</td>
					<td>
						{{ get_ship_info(ship_number, 'resourcePrice')|number }}
						<img src="{{ asset('media/resources/resource.png') }}" alt="ressource" class="icon-color" />
					</td>
				</tr>
				<tr>
					<td class="hb lt" title="temps de construction (heures:minutes:secondes)">temps</td>
					<td>
						{{ get_ship_info(ship_number, 'time')|lite_seconds }}
						<img src="{{ asset('media/resources/time.png') }}" alt="relève" class="icon-color" />
					</td>
				</tr>
				<tr>
					<td class="hb lt" title="points-équivalent-vaisseau, définit la taille qu\'occupe ce vaisseau dans une escadrille">pev</td>
					<td>
						{{ get_ship_info(ship_number, 'pev') }}
						<img src="{{ asset('media/resources/pev.png') }}" alt="pev" class="icon-color" />
					</td>
				</tr>
				<tr>
					<td class="hb lt" title="nombre de ressources que le vaisseau peut transporter">soute</td>
					<td>
						{{ (get_ship_info(ship_number, 'pev') * 250)|number }}
						<img src="{{ asset('media/resources/resource.png') }}" alt="ressource" class="icon-color" />
					</td>
				</tr>
				<tr>
					<td class="hb lt" title="nombre de crédit par relève que coûte le vaisseau affecté à un commandant">entretien en affectation</td>
					<td>
						{{ get_ship_info(ship_number, 'cost')|number }}
						<img src="{{ asset('media/resources/credit.png') }}" alt="ressource" class="icon-color" />
						/
						<img src="{{ asset('media/resources/time.png') }}" alt="relève" class="icon-color" />
					</td>
				</tr>
				<tr>
					<td class="hb lt" title="nombre de crédit par relève que coûte le vaisseau à quai ou en vente au marché">entretien à quai</td>
					<td>
						{{ (get_ship_info(ship_number, 'cost') * constant('App\\Modules\\Athena\\Resource\\ShipResource::COST_REDUCTION'))|number }}
						<img src="{{ asset('media/resources/credit.png') }}" alt="ressource" class="icon-color" />
						/
						<img src="{{ asset('media/resources/time.png') }}" alt="relève" class="icon-color" />
					</td>
				</tr>
			</table></div>

			<h4>Caractéristiques</h4>

			<div class="skill-box">
				{% set values = [] %}

				{% for k in nb_shots|keys %}
					{% set v = nb_shots[k] %}
					{% set bonus = (k * bonus_att / 100) %}
					{% set bonus_label = '' %}
					{% if bonus > 0 %}
						{% set bonus_label %}<span class="bonus">+{{ bonus }}</span>{% endset %}
					{% endif %}
					{% if v != 1 %}
						{% set values = values|merge([v ~ '*' ~ k ~ bonus_label])  %}
					{% else %}
						{% set values = values|merge([k ~ bonus_label])  %}
					{% endif %}
				{% endfor %}

				<span class="label">attaque</span>
				<span class="value">
					<img src="{{ asset('media/resources/attack.png') }}" class="icon-color" />
					{{ values|join(' + ') }}
				</span>
				<span class="progress-bar">
					{% for j in range(0, attacks|length - 1) %}
						<span class="content" style="width: {{ attacks[j]|percent(attack) }}%;"></span>
					{% endfor %}
				</span>
			</div>

			{% set bonus = (get_ship_info(ship_number, 'defense') * bonus_def) / 100 %}
			{% if bonus > 0 %}
				<span class="bonus">{% if bonus > 0 %}+{% endif %} {{ bonus }}</span>
				<div class="skill-box">
					<span class="label">défense</span>
					<span class="value">
						<img src="{{ asset('media/resources/defense.png') }}" class="icon-color" />
						{{ get_ship_info(ship_number, 'defense') }}
						{{ bonus }}
					</span>
					<span class="progress-bar"><span class="content" style="width: {{ get_ship_info(ship_number, 'defense')|percent(defense) }}%;"></span></span>
				</div>
			{% endif %}

			{% set bonus = (get_ship_info(ship_number, 'speed') * bonus_spe) / 100 %}
			{% if bonus > 0 %}
			<span class="bonus">{% if bonus > 0 %}+{% endif %} {{ bonus }}</span>
			<div class="skill-box">
				<span class="label">maniabilité</span>
				<span class="value">
					<img src="{{ asset('media/resources/speed.png') }}" class="icon-color" />
					{{ get_ship_info(ship_number, 'speed') }}
					{{ bonus }}
				</span>
				<span class="progress-bar">
					<span class="content" style="width: {{ (get_ship_info(ship_number, 'speed') - speed_a)|percent(speed_b) }}%;"></span>
				</span>
			</div>
			{% endif %}

			<div class="skill-box">
				<span class="label">coque</span>
				<span class="value">
					<img src="{{ asset('media/resources/life.png') }}" class="icon-color" />
					{{ get_ship_info(ship_number, 'life') }}
				</span>
				<span class="progress-bar"><span class="content" style="width: {{ get_ship_info(ship_number, 'life')|percent(life) }}%;"></span></span>
			</div>

			<h4>Description</h4>

			<p class="info">{{ get_ship_info(ship_number, 'description')|raw }}</p>
			</div>
		</div>
	</div>
{% endapply %}
