<details class="relative marker:content-['']">
	<summary class="h-12 py-2 px-4 bg-gray-800 border border-gray-700 cursor-pointer flex items-center gap-x-4">
		{{ current_base.resourcesStorage|number }}

		<img src="{{ asset('images/legacy/picto/trade/Lot.svg') }}" class="w-6" alt="" />
	</summary>

	<div class="absolute top-14 left-0 w-64 p-2 bg-gray-800 rounded-md border border-gray-700 z-[1000]">
		<twig:H2 class="my-2">Raffinerie</twig:H2>
		<div class="">

			{% set production = get_base_production(current_base) %}
			{% set refining_bonus = get_player_bonus(constant('App\\Modules\\Zeus\\Model\\PlayerBonusId::REFINERY_REFINING')) %}
			<twig:NumberBox label="production par relève" :bonus="refining_bonus > 0 ? ((production * refining_bonus) / 100)|number : null">
				{{ production|number }}
			</twig:NumberBox>

			{{ include('molecules/base/production/storage_gauge.html.twig', {
				'stored_resources': current_base.resourcesStorage,
				'percent': current_base|base_storage_percent,
				'faction_color': false,
			}) }}

			<a href="{{ path('refinery') }}" class="block mt-4">
				<twig:Button :faction="current_player.faction">
					vers la raffinerie
				</twig:Button>
			</a>
		</div>
	</div>
</details>
