{% extends 'layouts/demeter/faction.html.twig' %}

{% block page_title %}
	{% if faction.isInCampaign %}
		Campagne
	{% endif %}
{% endblock page_title %}

{% block content %}
	<div class="flex gap-x-4">
		{% if faction.isInCampaign %}
			{{ include('components/Faction/election/campaign.html.twig') }}
			{{ include('components/Faction/election/list.html.twig') }}

			{% if app.request.query.get('action') == 'postulate' %}
				{{ include('components/Faction/election/postulate.html.twig') }}
			{% elseif candidate is not null %}
				{{ include('components/Faction/election/candidate.html.twig') }}
			{% else %}
				{{ include('molecules/common/default.html.twig') }}
			{% endif %}
		{% elseif faction.isInElection %}
			{% if faction.isDemocratic %}
				{{ include('components/Faction/election/election.html.twig') }}
				{{ include('components/Faction/election/list.html.twig') }}

				{% if candidate is not null %}
					{{ include('components/Faction/election/candidate.html.twig') }}
					{% if topic is defined %}
						{# {{ include('components/Faction/forum/topic.html.twig') }} #}
					{% endif %}
				{% else %}
					{{ include('molecules/common/default.html.twig') }}
				{% endif %}
			{% elseif faction.isRoyalistic %}
				{{ include('components/Faction/election/putsch.html.twig') }}
				{{ include('components/Faction/election/candidate.html.twig') }}
			{% else %}
				{{ include('molecules/common/default.html.twig') }}
			{% endif %}
		{% endif %}
	</div>
{% endblock %}
