{% extends 'layouts/demeter/faction.html.twig' %}

{% block content %}
	{% include 'components/faction/forum/navbar.html.twig' %}

	{% include 'components/faction/forum/topics.html.twig' with { forumId: topic.forum, topics_with_last_views, display_standard_topics: true, is_archived: false } %}

	<div class="component topic size2">
		<div class="head skin-2">
			<h2>{{ topic.title }}</h2>
		</div>
		<div class="fix-body">
			<div class="body">
				{% if topic.isClosed %}
					<div class="message write">
						<img src="{{ asset('build/media/avatar/medium/' ~ current_player.avatar ~ '.png') }}" alt="{{ current_player.name }}" class="avatar" />
						<div class="content">
							<form action="#" method="POST">
								<textarea name="content" placeholder="Ce sujet est fermé" disabled></textarea>
							</form>
						</div>
					</div>
				{% else %}
					<div class="message write">
						<img src="{{ asset('build/media/avatar/medium/' ~ current_player.avatar ~ '.png') }}" alt="{{ current_player.name }}" class="avatar" />
						<div class="content">
							<form action="{{ path('write_forum_message', {forumId: topic.forum, topicId: topic.id }) }}" method="POST">
								<div class="wysiwyg" data-id="new-topic-wysiwyg">
									{{ get_parser_toolbar()|raw }}

									<textarea name="content" id="new-topic-wysiwyg" placeholder="Répondez"></textarea>
								</div>

								<button>Envoyer le message</button>
							</form>
						</div>
					</div>
				{% endif %}

				{% for message in messages %}
					{% if message.player.faction.identifier > 0 %}
						{% set statuses = get_faction_info(message.player.faction.identifier, 'status') %}
						{% set status = statuses[message.player.status - 1] %}
					{% else %}
						{% set status = 'Rebelle' %}
					{% endif %}

					{% set can_edit = current_player.id == message.player.id or current_player.isGovernmentMember is same as(true) and topic.forum != 20 %}

					<div class="message write">
						<a href="{{ path('embassy', {player: message.player.id}) }}">
							<img src="{{ asset('build/media/avatar/medium/' ~ message.player.avatar ~ '.png') }}" alt="{{ message.player.name }}" class="avatar" />
						</a>
						<div class="content">
							<p class="text">
								≡ {{ status }} {{ message.player.name }}<br /><br />
								{{ message.pContent|raw }}
							</p>

							{% if can_edit is same as (true) %}
								<form style="display:none;" action="{{ path('edit_forum_message', { forumId: topic.forum, topicId: topic.id, messageId: message.id}) }}" id="edit-m-{{ message.id }}" method="post">
									<div class="wysiwyg" data-id="edit-wysiwyg-m-{{ message.id }}">
										{{ get_parser_toolbar()|raw }}

										<textarea name="content" id="edit-wysiwyg-m-{{ message.id }}" placeholder="Répondez">{{ message.oContent }}</textarea>
									</div>

									<button>Envoyer le message</button>
								</form>
							{% endif %}

							<p class="footer">
								— {{ message.createdAt|date|raw }}
								{% if can_edit is same as (true) -%}
									&#8195;|&#8195;
									<a href="#" class="sh" data-target="edit-m-{{ message.id }}">Editer</a>
								{%- endif %}
							</p>
						</div>
					</div>
				{% endfor %}
			</div>
		</div>
	</div>

{% endblock content %}
