{% extends 'layouts/demeter/faction.html.twig' %}

{% block content %}
	<div class="grid grid-cols-4 gap-x-4">
		{% include 'components/Faction/forum/navbar.html.twig' %}

		{% include 'components/Faction/forum/topics.html.twig' with { forumId: topic.forum, topics_with_last_views, display_standard_topics: true, is_archived: false } %}

		<twig:LayoutBox class="col-span-2">
			<header>
				<twig:H2>{{ topic.title }}</twig:H2>
			</header>

			<section class="flex flex-col divide-y divide-gray-500 gap-y-4">
				<div class="flex items-start gap-x-4">
					<div>
						<twig:Avatar :player="current_player" class="max-w-16 max-h-16" />
					</div>

					<div class="content">
						{% if topic.isClosed %}
							<form action="#" method="POST">
								<twig:Textarea name="content" placeholder="Ce sujet est fermé" disabled></twig:Textarea>
							</form>
						{% else %}
							<form action="{{ path('write_forum_message', {forumId: topic.forum, topicId: topic.id }) }}" method="POST">
								<div class="wysiwyg" data-id="new-topic-wysiwyg">
									<twig:Textarea name="content" id="new-topic-wysiwyg" placeholder="Répondez"></twig:Textarea>

									{{ get_parser_toolbar()|raw }}
								</div>

								<twig:Button :faction="faction" type="submit">Envoyer le message</twig:Button>
							</form>
						{% endif %}
					</div>
				</div>

				{% for message in messages %}
					{% if message.player.faction.identifier > 0 %}
						{% set statuses = get_faction_info(message.player.faction.identifier, 'status') %}
						{% set status = statuses[message.player.status - 1] %}
					{% else %}
						{% set status = 'Rebelle' %}
					{% endif %}

					{% set can_edit = current_player.id == message.player.id or current_player.isGovernmentMember is same as(true) and topic.forum != 20 %}

					<div class="flex items-start gap-x-4 pt-4">
						<a href="{{ path('embassy', {player: message.player.id}) }}">
							<twig:Avatar :player="message.player" class="max-w-16 max-h-16" />
						</a>
						<div class="content">
							<p class="text">
								≡ {{ status }} {{ message.player.name }}<br /><br />
								{{ message.pContent|raw }}
							</p>

							{% if can_edit is same as (true) %}
								<form style="display:none;" action="{{ path('edit_forum_message', { forumId: topic.forum, topicId: topic.id, messageId: message.id}) }}" id="edit-m-{{ message.id }}" method="post">
									<div class="wysiwyg" data-id="edit-wysiwyg-m-{{ message.id }}">
										{{ get_parser_toolbar()|raw }}

										<textarea name="content" id="edit-wysiwyg-m-{{ message.id }}" placeholder="Répondez">{{ message.oContent }}</textarea>
									</div>

									<button>Envoyer le message</button>
								</form>
							{% endif %}

							<p class="footer">
								— {{ message.createdAt|game_date|raw }}
								{% if can_edit is same as (true) -%}
									&#8195;|&#8195;
									<a href="#" class="sh" data-target="edit-m-{{ message.id }}">Editer</a>
								{%- endif %}
							</p>
						</div>
					</div>
				{% endfor %}
			</section>
		</twig:LayoutBox>
	</div>
{% endblock content %}
