<div class="player faction color{{ faction_ranking.faction.identifier }} {% if current_player.faction.id == faction_ranking.faction.id %}active{% endif %}">
	<img src="{{ asset('build/media/faction/flag/flag-' ~ faction_ranking.faction.identifier ~ '.png') }}" alt="{{ faction_ranking.faction.identifier }}" class="picto" />

	<span class="title">{{ get_faction_info(faction_ranking.faction.identifier, 'government') }}</span>
	<strong class="name">{{ get_faction_info(faction_ranking.faction.identifier, 'popularName') }}</strong>
	<span class="experience">
		{{ value|raw }}
	</span>

	{{ include('atoms/rankings/faction_position.html.twig', { position, variation })}}
</div>
