{% set statuses = get_faction_info(player_ranking.color, 'status') %}

<div class="player color{{ player_ranking.color }} {% if current_player.id == player_ranking.rPlayer %}active{% endif %}">
	<a href="{{ path('embassy', {'player': player_ranking.rPlayer}) }}">
		<img src="{{ asset('build/media/avatar/small/' ~ player_ranking.avatar ~ '.png') }}" alt="{{ player_ranking.name }}" class="picto" />
	</a>

	<span class="title">{{ statuses[player_ranking.status - 1] }}</span>
	<strong class="name">{{ player_ranking.name }}</strong>

	<span class="experience">
		{{ value|raw }}
	</span>

	<span class="position">{{ position }}</span>

	{{ include('atoms/rankings/variation.html.twig', { variation }) }}
</div>
