{% set type_neutral = constant('App\\Modules\\Athena\\Model\\OrbitalBase::TYP_NEUTRAL') %}
{% set type_commercial = constant('App\\Modules\\Athena\\Model\\OrbitalBase::TYP_COMMERCIAL') %}
{% set type_military = constant('App\\Modules\\Athena\\Model\\OrbitalBase::TYP_MILITARY') %}
{% set type_capital = constant('App\\Modules\\Athena\\Model\\OrbitalBase::TYP_CAPITAL') %}

{# @TODO FACTORIZE THIIIIIS #}

<twig:LayoutBox class="component generator">
	<header>
		<twig:H2>
			{#<img src="{{ asset('build/media/orbitalbase/base-type-' ~ current_base.typeOfBase ~ '.jpg') }}" alt="{{ current_base|base_type }}">#}
			<strong>{{ current_base.name }}</strong><br>
			<em>{{ current_base|base_type }}</em>
		</twig:H2>
	</header>
	<section class="mt-4">
		<p class="text-sm">{{ get_base_type_info(current_base.typeOfBase, 'desc') }}</p>

		<div class="flex flex-col divide-y divide-gray-900 mt-2">
			<twig:BaseTypeChoice :type="type_neutral" />

			<twig:BaseTypeChoice :type="type_commercial">
				{# @TODO move that logic to a Specification class #}
				{% if current_base.typeOfBase == type_neutral and current_player.credit >= get_base_type_info(type_commercial, 'price') and current_base.levelGenerator >= minimal_change_level %}
					<a href="{{ path('change_base_type', { 'id': current_base.id, 'type': type_commercial }) }}" class="button">
						<twig:Button :faction="current_player.faction">
							Evoluer en {{ get_base_type_info(type_commercial, 'name') }}<br />
							<span class="text-xs">{{ get_base_type_info(type_commercial, 'price')|number }}</span>
							{#<img class="icon-color" alt="crédits" src="{{ asset('build/media/resources/credit.png') }}">#}
						</twig:Button>
					</a>
				{% elseif current_base.typeOfBase == type_military and current_player.credit >= get_base_type_info(type_commercial, 'price') %}
					<a href="{{ path('change_base_type', { 'id': current_base.id, 'type': type_commercial }) }}" onclick="confirm('Transformer cette base supprimera toute la file de construction. Vos missions de recyclage seront également annulées.')">
						<twig:Button :faction="current_player.faction">
							Transformer en {{ get_base_type_info(type_commercial, 'name') }}<br />
							<span class="text-xs">{{ get_base_type_info(type_commercial, 'price')|number }}</span>
							{#<img class="icon-color" alt="crédits" src="{{ asset('build/media/resources/credit.png') }}">#}
						</twig:Button>
					</a>
				{% elseif current_base.typeOfBase == type_commercial or current_base.typeOfBase == type_capital %}
					{# do nothing #}
				{% else %}
					<twig:Button :faction="current_player.faction" disabled>
						Evoluer en {{ get_base_type_info(type_commercial, 'name') }}<br />
						<span class="text-xs">{{ get_base_type_info(type_commercial, 'price')|number }}</span>
						{#<img class="icon-color" alt="crédits" src="{{ asset('build/media/resources/credit.png') }}">#}
					</twig:Button>
				{% endif %}

				<twig:H4>Avantages &amp; Inconvénients</twig:H4>

				<p>
					<strong>Technologies</strong>
					<span class="text-sm">Orienté commerce et production</span>
				</p>
				<p>
					<strong>Bâtiments</strong>
					<span class="text-sm">Plateforme Commerciale et Spatioport au niveau maximum</span>
				</p>
				<hr class="my-2" />
				<p>
					<strong>Nécessite</strong>
					<span class="text-sm">Générateur niveau {{ minimal_change_level }}</span>
				</p>
			</twig:BaseTypeChoice>

			<twig:BaseTypeChoice :type="type_military">
				{% if current_base.typeOfBase == type_neutral and current_player.credit >= get_base_type_info(type_military, 'price') and current_base.levelGenerator >= minimal_change_level %}
					<a href="{{ path('change_base_type', {'type': type_military}) }}" class="button">
							<twig:Button :faction="current_player.faction">
								Evoluer en {{ get_base_type_info(type_military, 'name') }}<br />
								<span class="text-xs">{{- get_base_type_info(type_military, 'price')|number -}}</span>
								{#<img class="icon-color" alt="crédits" src="{{ asset('build/media/resources/credit.png') }}">#}
							</twig:Button>
					</a>
				{% elseif current_base.typeOfBase == type_commercial and current_player.credit >= get_base_type_info(type_military, 'price') %}
					<a href="{{ path('change_base_type', {'type': type_military}) }}" class="button confirm" onclick="confirm('Transformer cette base supprimera toute la file de construction.')">
						<twig:Button :faction="current_player.faction">
							Evoluer en {{ get_base_type_info(type_military, 'name') }}<br />
							<span class="text-xs">{{- get_base_type_info(type_military, 'price')|number -}}</span>
							{#<img class="icon-color" alt="crédits" src="{{ asset('build/media/resources/credit.png') }}">#}
						</twig:Button>
					</a>
				{% elseif current_base.typeOfBase == type_military or current_base.typeOfBase == type_capital %}
					{# do nothing #}
				{% else %}
					<twig:Button :faction="current_player.faction" disabled>
						Evoluer en {{ get_base_type_info(type_military, 'name') }}<br />
						<span class="text-xs">{{- get_base_type_info(type_military, 'price')|number -}}</span>
						{#<img class="icon-color" alt="crédits" src="{{ asset('build/media/resources/credit.png') }}">#}
					</twig:Button>
				{% endif %}
				<twig:H4>Avantages &amp; Inconvénients</twig:H4>
				<p>
					<strong>Technologies</strong>
					<span class="text-sm">Orienté militaire</span>
				</p>
				<p>
					<strong>Bâtiments</strong>
					<span class="text-sm">Centre de Recyclage et Chantier de Ligne au niveau maximum</span>
				</p>
				<hr class="my-2"/>
				<p>
					<strong>Nécessite</strong>
					<span class="text-sm">Générateur niveau {{ minimal_change_level }}</span>
				</p>
			</twig:BaseTypeChoice>

			<twig:BaseTypeChoice :type="type_capital">
				{% set total_price = get_base_type_info(type_capital, 'price') %}
				{% if current_base.typeOfBase in [type_commercial, type_military] and current_player.credit >= total_price and current_base.levelGenerator >= capital_change_level %}
					{% if capitals_count == 0 %}
						<a href="{{ path('change_base_type', {'baseId': current_base.id, 'type': type_capital }) }}" class="button">
							<twig:Button :faction="current_player.faction">
								Evoluer en {{ get_base_type_info(type_capital, 'name') }}<br />
								<span class="text-xs">{{- total_price|number -}}</span>
								{#<img class="icon-color" alt="crédits" src="{{ asset('build/media/resources/credit.png') }}">#}
							</twig:Button>
						</a>
					{% else %}
						<twig:Button :faction="current_player.faction" disabled>
							Vous avez déjà une {{ get_base_type_info(type_capital, 'name') }}
						</twig:Button>
					{% endif %}
				{% elseif current_base.typeOfBase == type_capital %}
					{# do nothing #}
				{% else %}
					{% if capitals_count == 0 %}
						<twig:Button :faction="current_player.faction" disabled>
							Evoluer en {{ get_base_type_info(type_capital, 'name') }}<br />
							<span class="text-xs">{{- total_price|number -}}</span>
							{#<img class="icon-color" alt="crédits" src="{{ asset('build/media/resources/credit.png') }}">#}
						</twig:Button>
					{% else %}
						<twig:Button :faction="current_player.faction" disabled>
							Vous avez déjà une {{ get_base_type_info(type_capital, 'name') }}
						</twig:Button>
					{% endif %}
				{% endif %}

				<twig:H4>Avantages &amp; Inconvénients</twig:H4>

				<p>Vous ne pouvez avoir qu'une capitale</p>
				<p>
					<strong>Technologies</strong>
					<span class="text-sm">Toutes disponibles</span>
				</p>
				<p>
					<strong>Bâtiments</strong>
					<span class="text-sm">Tous au niveau maximum</span>
				</p>
				<hr class="my-2" />
				<p>
					<strong>Nécessite</strong>
					<span class="text-sm">Générateur niveau {{ capital_change_level }}</span>
				</p>
			</twig:BaseTypeChoice>
		</div>
	</section>
</twig:LayoutBox>
