<div class="flex"
	 data-controller="fleet--ship-transfer"
	 data-fleet--ship-transfer-fleet--squadron-outlet="#fleet-squadrons"
	 data-fleet--ship-transfer-base-value="{{ commander.base.id }}"
	 data-fleet--ship-transfer-squadron-update-url-value="{{ url('update_fleet_squadron', {id: commander.id, squadronId: '{squadronId}'}) }}"
	 data-fleet--ship-transfer-manufacture-max-storable-ship-points-value="{{ manufactureMaxStorableShipPoints }}"
	 data-fleet--ship-transfer-shipyard-max-storable-ship-points-value="{{ shipyardMaxStorableShipPoints }}"
	 data-fleet--ship-transfer-ship-pevs-value="{{ get_ship_pevs()|json_encode }}"
>
	<div id="squadron-tiles" class="">
		{% for i in range(0, 11) %}
			<twig:ShipTransferTile :identifier="i" :quantity="0" side="squadron" />
		{% endfor %}
	</div>
	<div id="base-tiles" class="ml-2">
		{% for i in range(0, 11) %}
			<twig:ShipTransferTile :identifier="i" :quantity="current_base.shipStorage[i]" side="base" />
		{% endfor %}
	</div>
</div>
