<div class="component nav">
	<div class="head skin-1">
		<h1>Registres</h1>
	</div>
	<div class="fix-body">
		<div class="body">
			<a href="{{ path('faction_data', {'mode': 'financial'}) }}" class="nav-element {% if 'financial' == mode %}active{% endif %}">
				<img src="{{ asset('media/financial/taxout.png') }}" alt="" />
				<strong>Finance</strong>
				<em>Richesse, imposition et donations</em>
			</a>

			<a href="{{ path('faction_data', {'mode': 'trade'}) }}" class="nav-element {% if 'trade' == mode %}active{% endif %}">
				<img src="{{ asset('media/orbitalbase/commercialplateforme.png') }}" alt="" />
				<strong>Commerce</strong>
				<em>Routes commerciales et taxes sur le commerce</em>
			</a>

			<a href="{{ path('faction_data', {'mode': 'war'}) }}" class="nav-element {% if 'war' == mode %}active{% endif %}">
				<img src="{{ asset('media/fleet/movement.png') }}" alt="" />
				<strong>Guerre</strong>
				<em>Armées, mouvements de flottes et rapports de combat</em>
			</a>

			<a href="{{ path('faction_data', {'mode': 'tactical'}) }}" class="nav-element {% if 'tactical' == mode %}active{% endif %}">
				<img src="{{ asset('media/faction/data/tactical.png') }}" alt="" />
				<strong>Tactique</strong>
				<em>Territoires et objectifs de victoire</em>
			</a>

			<a href="{{ path('faction_data', {'mode': 'diplomacy'}) }}" class="nav-element {% if 'diplomacy' == mode %}active{% endif %}">
				<img src="{{ asset('media/faction/data/diplomacy.png') }}" alt="" />
				<strong>Diplomatie</strong>
				<em>Accords et traités</em>
			</a>

			<a href="{{ path('faction_data', {'mode': 'law'}) }}" class="nav-element {% if 'law' == mode %}active{% endif %}">
				<img src="{{ asset('media/faction/data/law.png') }}" alt="" />
				<strong>Lois</strong>
				<em>Table des Lois</em>
			</a>
		</div>
	</div>
</div>
