<div class="component profil">
	<div class="head skin-2">
		<h2>Commerce</h2>
	</div>
	<div class="fix-body">
		<div class="body">
			<h4>Routes commerciales</h4>

			<div class="number-box">
				<span class="label">routes commerciales actives</span>
				<span class="value">{{ rc_data.nb|number }}</span>
			</div>

			<div class="number-box">
				<span class="label">revenu total par relève</span>
				<span class="value">
					{{ rc_data.income|number }}
					 <img class="icon-color" src="{{ asset('build/media/resources/credit.png') }}" alt="crédits">
				</span>
				<span class="group-link"><a href="#" title="revenu total encaissé par les joueurs de la faction" class="hb lt">?</a></span>
				</div>

			<div class="number-box grey">
				<span class="label">part du commerce intérieur</span>
				<span class="value">{{ faction_internal_commercial_routes_data.nb|percent(rc_data.nb) }} %</span>
				<span class="progress-bar">
					<span style="width:{{ faction_internal_commercial_routes_data.nb|percent(rc_data.nb) }}%;" class="content"></span>
				</span>
				</div>

			<h4>Répartition du commerce extérieur</h4>

			{% set total_routes_count = rc_data.nb + faction_internal_commercial_routes_data.nb %}

			{% for faction_id in rc_diplomatic_data|keys %}
				{% set routes_count = rc_diplomatic_data[faction_id] %}

				<div class="number-box grey">
					<span class="label">routes commerciales avec {{ get_faction_info(faction_id, 'popularName') }}</span>
					<span class="value">{{ routes_count|number }}</span>
					<span class="progress-bar">
						<span style="width:{{ routes_count|percent(total_routes_count) }}%;" class="content"></span>
					</span>
				</div>
			{% endfor %}
		</div>
	</div>
</div>
