<!DOCTYPE html>
<html lang="fr">
	<head>
		<title>
			{%- block title -%}
				Kalaxia
			{%- endblock title -%}
		</title>

		<meta charset="utf-8" />
		<meta name="turbo-prefetch" content="false">
		<meta name="description" content="Kalaxia, jeu de stratégie multijoueurs" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />

		<link href="https://fonts.googleapis.com/css?family=Roboto:300,300italic,700,700italic" rel="stylesheet" type="text/css">
		{% block stylesheets %}
			<link rel="stylesheet" type="text/css" href="{{ asset('styles/faction_colors/all.css') }}" />
			<link rel="stylesheet" type="text/css" href="{{ asset('styles/faction_colors/color' ~ current_player_faction_id ~ '.css') }}" />
		{% endblock %}

		{# <link rel="icon" type="image/png" href="{{ asset('build/media/favicon/color' ~ current_player_faction_id ~ '.png') }}" /> #}

		{% block javascripts %}
			{% block importmap %}{{ importmap('app') }}{% endblock %}
		{% endblock %}

		<link rel="icon" href="{{ asset('images/logo.png') }}" />
	</head>
	<body class="h-screen bg-gray-900 text-white">
		<div id="container" class="flex flex-col h-full w-fit min-w-full py-[120px]">
			{{ include('components/common/navbar.html.twig') }}
			{{ include('components/common/toolbar.html.twig') }}

			{% block body %}{% endblock body %}

			<div class="hidden md:block fixed left-0 top-32">
				{% block left_sidebar %}{% endblock left_sidebar %}
			</div>
			<div class="hidden md:block fixed right-0 top-0">
				{% block right_sidebar %}{% endblock right_sidebar %}
			</div>
			{{ include('components/common/alerts.html.twig') }}
		</div>
	</body>
</html>
