<!DOCTYPE html>
<html lang="fr">
	<head>
		<title>
			{%- block title -%}
				Kalaxia
			{%- endblock title -%}
		</title>

		<meta charset="utf-8" />
		<meta name="description" content="Kalaxia, jeu de stratégie multijoueurs" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />

		<link href="https://fonts.googleapis.com/css?family=Roboto:300,300italic,700,700italic" rel="stylesheet" type="text/css">
		{% block stylesheets %}
			<link rel="stylesheet" type="text/css" href="{{ asset('styles/faction_colors/all.css') }}" />
			<link rel="stylesheet" type="text/css" href="{{ asset('styles/faction_colors/color' ~ current_player_faction_id ~ '.css') }}" />
		{% endblock %}

		{# <link rel="icon" type="image/png" href="{{ asset('build/media/favicon/color' ~ current_player_faction_id ~ '.png') }}" /> #}

		{% block javascripts %}
			{% block importmap %}{{ importmap('app') }}{% endblock %}
		{% endblock %}
	</head>
	<body class="color{{ current_player_faction_id }} no-scrolling" data-init-sftr="2">

		<div id="app">
			{# {{ include('components/common/navbar.html.twig') }} #}

			<div id="container" class="z-0">
				<turbo-frame id="main-frame">
					{% block body %}{% endblock body %}
				</turbo-frame>
			</div>

			{{ include('components/common/toolbar.html.twig') }}
			{{ include('components/common/alerts.html.twig') }}
		</div>

	</body>
</html>
