<div class="component player rank">
	<div class="head skin-2">
		<h2>Statut diplomatique</h2>
	</div>
	<div class="fix-body">
		<div class="body">
			{% for statement in diplomacy_statements|keys %}
				{% set factions = faction.relations|filter((v, k) => k != 0 and k != faction.identifier and v == statement) %}
				<h4>{{ diplomacy_statements[statement] }}</h4>

				{% for faction_identifier in factions|keys %}
					<div class="player faction color{{ faction_identifier }}">
						<a href="{{ path('embassy', {'faction': faction_identifier}) }}">
							<img src="{{ asset('build/media/faction/flag/flag-' ~ faction_identifier ~ '.png') }}" alt="" class="picto">
						</a>
						<span class="title">{{ get_faction_info(faction_identifier, 'government') }}</span>
						<strong class="name">{{ get_faction_info(faction_identifier, 'officialName') }}</strong>
					</div>
				{% endfor %}

				{% if factions|length == 0 %}
					<p>Aucune faction</p>
				{% endif %}
			{% endfor %}
		</div>
	</div>
</div>
