{% set statuses = get_faction_info(current_player.faction.identifier, 'status') %}

<div class="min-w-96">
	<header>
		<twig:H2>
			Candidat{{ candidates|length|plural }} à l'élection
		</twig:H2>
	</header>
	<section>
		<div class="set-item">

			{% for candidate in candidates %}
				<div class="item">
					<div class="left">
						<img src="{{ asset('build/media/avatar/small/' ~ candidate.player.avatar ~ '.png') }}" alt="{{ candidate.player.name }}" />
						</div>

					<div class="center">
						<strong>{{ candidate.player.name }}</strong>
						{{ statuses[candidate.player.status - 1] }}
					</div>

					<div class="right">
						<a {% if app.request.query.get('candidate') == candidate.id %}class="active"{% endif %}
						href="{{ path('view_faction_election', {'candidate': candidate.id}) }}"></a>
					</div>
				</div>
			{% endfor %}

		</div>
		{% if candidates == [] %}
			<p class="text-sm">Il n'y a aucun candidat pour l'instant.</p>
		{% endif %}
	</section>

	<footer class="flex justify-center">
		{% if faction.isInCampaign and not is_candidate %}
			<a class="{% if app.request.query.get('action') == 'postulate' %}active{% endif %} item" href="{{ path('view_faction_election', {'action': 'postulate'}) }}">
				<twig:Button :faction="faction">
					Proposer sa candidature
				</twig:Button>
			</a>
		{% endif %}
	</footer>
</div>
