<twig:LayoutBox>
	<header class="flex items-center gap-x-2">
		{% if isProfileView %}
<!--			<img src="{{ asset('build/media/map/place/place1-' ~ orbitalBase|base_demography ~ '.png') }}" alt=" {{ orbitalBase.name }}" />-->
			<img class="w-16 h-16" src="{{ asset('images/legacy/planet/Tempered.png') }}" alt="planet" />

			<div>
				<twig:H2>{{ orbitalBase.name }}</twig:H2>
				<twig:H5>
					{{ orbitalBase|base_type }} — {{ orbitalBase.points}} points
				</twig:H5>
			</div>
		{% else %}
			<twig:H2>Vue de situation</twig:H2>
		{% endif %}
	</header>
	<section class="mt-4">
		{# pending commercial routes display #}
		{% if orbitalBase.levelSpatioport > 0 and commercialRoutesData.waiting_for_me is defined and commercialRoutesData.waiting_for_me != 0 %}
			<a href="{{ path('switchbase', {'baseId': orbitalBase.id, 'page': 'spatioport'}) }}" class="alert">
				{% set plural = commercialRoutesData.waiting_for_me|plural %}
				Vous avez {{ commercialRoutesData.waiting_for_me }} proposition{{ plural }} commerciale{{ plural }}
			</a>
		{% endif %}

		<twig:NumberBox label="Ressources en stock" :percent="orbitalBase|base_storage_percent">
			{{ orbitalBase.resourcesStorage|number }}

			<twig:block name="upper_links">
				<a href="{{ path('switchbase', {'baseId': orbitalBase.id, 'page': 'refinery'}) }}" class="link hb lt" title="vers la raffinerie">→</a>
			</twig:block>
		</twig:NumberBox>

		<twig:H4 class="mt-4">Générateur</twig:H4>

		{% set nextTime = 0 %}
		{% set nextTotalTime = 0 %}
		{% set realSizeQueue = 0 %}

		<div class="queue">
			{% for building_queue in buildingQueues %}
				{% set realSizeQueue = realSizeQueue + 1 %}
				{% set nextTime = building_queue|queue_duration  %}
				{% set nextTotalTime = nextTotalTime + building_queue|building_queue_time %}

				<div class="item {% if realSizeQueue > 1 %}active{% endif %} progress" data-progress-output="lite" data-progress-no-reload="true" data-progress-current-time="{{ nextTime }}" data-progress-total-time="{{ nextTotalTime }}">
					<a class="button hb lt" title="annuler la construction (attention, vous ne récupérerez que {{ buildingQueueResourceRefund * 100 }}% du montant investi)">×</a>
					<img class="picto" src="{{ asset('build/media/orbitalbase/' ~  building_queue|queue_picture ~ '.png') }}" alt="" />
					<strong>
						{{ building_queue|queue_name }}
						<span class="level">niv. {{ building_queue.targetLevel }}</span>
					</strong>
					<em>
						<span class="progress-text">{{ nextTime|lite_seconds }}</span>
					</em>
					{% if realSizeQueue > 1 %}
						<span class="progress-container"></span>
					{% else %}
						<span class="progress-container">
							<span style="width: {{ (nextTotalTime - nextTime)|percent(nextTotalTime) }}%;" class="progress-bar"></span>
						</span>
					{% endif %}
				</div>
			{% endfor %}
			{% if orbitalBase|base_max_building_queues > buildingQueues|length %}
				<a href="{{ path('switchbase', { 'baseId': orbitalBase.id, 'page': 'generator'}) }}" class="item link">
					Construire un bâtiment
				</a>
			{% endif %}
		</div>

		{% if orbitalBase.levelDock1 > 0 %}
			<twig:H4>Chantier Alpha</twig:H4>

			{% set realSizeQueue = 0 %}

			<div class="queue">
				{% for ship_queue in dock1ShipQueues %}
					{% set realSizeQueue = realSizeQueue + 1 %}
					{% set totalTimeShips = ship_queue|ship_queue_time %}
					{% set remainingTime = ship_queue|queue_duration %}

					{% if realSizeQueue > 1 %}
						<div class="item">
					{% else %}
						<div class="item active progress" data-progress-output="lite" data-progress-no-reload="true" data-progress-current-time="{{ remainingTime }}" data-progress-total-time="{{ totalTimeShips }}">
					{% endif %}
					<img class="picto" src="{{ asset('build/media/ship/picto/' ~ ship_queue|ship_queue_picture ~ '.png') }}" alt="" />
					<strong>
						{{ ship_queue.quantity }} {{ ship_queue|ship_queue_name }}{{ ship_queue.quantity|plural }}
					</strong>

					{% if realSizeQueue > 1 %}
						<span class="progress-container"></span>
					{% else %}
						<em>
							<span class="progress-text">{{ remainingTime|lite_seconds }}</span>
						</em>
						<span class="progress-container">
							<span style="width: {{ (totalTimeShips - remainingTime)|percent(totalTimeShips) }}%;" class="progress-bar">
							</span>
						</span>
					{% endif %}
					</div>
				{% endfor %}

				{% if orbitalBase|base_max_dock1_ship_queues > dock1ShipQueues|length %}
					<a href="{{ path('switchbase', {'baseId': orbitalBase.id, 'page': 'docks', 'dockType': constant('App\\Modules\\Athena\\Model\\OrbitalBase::DOCK_TYPE_MANUFACTURE')}) }}" class="item link">
						Lancer la production
					</a>
				{% endif %}
			</div>
		{% endif %}

		{% if orbitalBase.levelDock2 > 0 %}
			<twig:H4>Chantier de Ligne</twig:H4>

			{% set realSizeQueue = 0 %}

			<div class="queue">
				{% for ship_queue in dock2ShipQueues %}
				{% set realSizeQueue = realSizeQueue + 1 %}
				{% set totalTimeShips = ship_queue|ship_queue_time %}
				{% set remainingTime = ship_queue|queue_duration %}

				{% if realSizeQueue > 1 %}
				<div class="item">
					{% else %}
					<div class="item active progress" data-progress-output="lite" data-progress-no-reload="true" data-progress-current-time="{{ remainingTime }}" data-progress-total-time="{{ totalTimeShips }}">
						{% endif %}

						<img class="picto" src="{{ asset('build/media/ship/picto/' ~ ship_queue|ship_queue_picture ~ '.png') }}" alt="" />
						<strong>
							{{ ship_queue.quantity }} {{ ship_queue|ship_queue_name }}{{ ship_queue.quantity|plural }}
						</strong>

						{% if realSizeQueue > 1 %}
							<span class="progress-container"></span>
						{% else %}
							<em>
								<span class="progress-text">{{ remainingTime|lite_seconds }}</span>
							</em>
							<span class="progress-container">
							<span style="width: {{ (totalTimeShips - remainingTime)|percent(totalTimeShips) }}%;" class="progress-bar">
							</span>
						</span>
						{% endif %}
					</div>
					{% endfor %}
					{% if orbitalBase|base_max_dock2_ship_queues > dock2ShipQueues|length %}
						<a href="{{ path('switchbase', {'baseId': orbitalBase.id, 'page': 'docks', 'dockType': constant('App\\Modules\\Athena\\Model\\OrbitalBase::DOCK_TYPE_SHIPYARD')}) }}" class="item link">
							Lancer la production
						</a>
					{% endif %}
				</div>
				{% endif %}

		{% if orbitalBase.levelTechnosphere > 0 %}
			<twig:H4>Technosphère</twig:H4>

			{% set realSizeQueue = 0 %}
			{% set remainingTotalTime = 0 %}
			{% set totalTimeTechno = 0 %}

			<div class="queue">
				{% for technology_queue in technologyQueues %}
					{% set realSizeQueue = realSizeQueue + 1 %}
					{% set totalTimeTechno = totalTimeTechno + technology_queue|technology_queue_time %}
					{% set remainingTotalTime = technology_queue|queue_duration %}

					<div class="item active progress" data-progress-output="lite" data-progress-no-reload="true" data-progress-current-time="{{ remainingTotalTime }}" data-progress-total-time="{{ totalTimeTechno }}">
						{#<img class="picto" src="{{ asset('build/media/technology/picto/' ~ technology_queue|queue_picture ~ '.png') }}" alt="" />#}
						<strong>
							{{ get_technology_info(technology_queue.technology, 'name') }}
							{% if technology_queue|is_unblocking_technology %}
								<span class="level">niv. {{ technology_queue.targetLevel }}</span>
							{% endif %}
						</strong>

						<em>
							<span class="progress-text">
								{{ remainingTotalTime|lite_seconds }}
							</span>
						</em>
						{% if realSizeQueue > 1 %}
							<span class="progress-container"></span>
						{% else %}
							<span class="progress-container">
								<span style="width: {{ (totalTimeTechno - remainingTotalTime)|percent(totalTimeTechno) }}%;" class="progress-bar">
								</span>
							</span>
						{% endif %}
					</div>
				{% endfor %}
				{% if orbitalBase|base_max_technology_queues > technologyQueues|length %}
					<a href="{{ path('switchbase', {'baseId': orbitalBase.id, 'page': 'technosphere'}) }}" class="item link">
						Développer une technologie
					</a>
				{% endif %}
			</div>
		{% endif %}

		{% if orbitalBase.levelSpatioport > 0 %}
			{% set percent = commercialRoutesData.total|percent(commercialRoutesData.max) %}
			<twig:H4>Spatioport</twig:H4>

			<twig:NumberBox label="Routes commerciales" :percent="percent">
				{{ commercialRoutesData.total }} / {{ commercialRoutesData.max }}

				<twig:block name="upper_links">
					<a href="{{ path('switchbase', {'baseId': orbitalBase.id, 'page': 'spatioport'}) }}" class="link hb lt" title="vers le spatioport">→</a>
				</twig:block>
			</twig:NumberBox>
		{% endif %}
	</section>
</twig:LayoutBox>
