{% extends 'layouts/athena/current_base.html.twig' %}

{% block content %}
	<div class="flex gap-x-4">
		<twig:LayoutBox class="min-w-80">
			<header>
				{#<img src="{{ asset('build/media/orbitalbase/refinery.png') }}" alt="" />#}
				<twig:H2>
					{{ get_building_info(constant('App\\Modules\\Athena\\Resource\\OrbitalBaseResource::REFINERY'), 'frenchName') }}
				</twig:H2>
				<twig:H5>Niveau {{ current_base.levelRefinery }}</twig:H5>
			</header>
			<section class="mt-4">
				{# @TODO factorize with toolbar.html.twig #}
				{% set production = get_base_production(current_base) %}
				<twig:NumberBox label="production par relève" :bonus="((production * refining_bonus) / 100)">
					{{ production|number }}
					{#<img alt="ressources" src="{{ asset('build/media/resources/resource.png') }}" class="icon-color">#}
				</twig:NumberBox>

				<hr class="my-2" />

				<twig:NumberBox label="coefficient ressource de la planète">
					{{ current_base.place.coefResources }} %
				</twig:NumberBox>

				<twig:NumberBox label="bonus technologique de production">
					{{ refining_bonus }} %
				</twig:NumberBox>
			</section>
		</twig:LayoutBox>

		<div class="min-w-96">
			<header>
				<twig:H2>Contrôle du raffinage</twig:H2>
			</header>

			<section>
				<twig:H3>Production par relève</twig:H3>
				<div class="flex flex-col divide-y divide-gray-500">
					{% set refinery_level = current_base.levelRefinery %}

					{% for level in get_building_level_range(refinery_level) %}
						{% set production = get_base_production(current_base, level) %}
						<twig:NumberBox :label="'niveau ' ~ level" :bonus="refining_bonus > 0 ? ((production * refining_bonus) / 100) : 0" :class="'p-2 ' ~ ((level == refinery_level) ? 'bg-gray-800' : '')">
							{{ production|number }}
							{#<img class="icon-color" src="{{ asset('build/media/resources/resource.png') }}" alt="crédits" />#}
						</twig:NumberBox>
					{% endfor %}
				</div>
			</section>
		</div>

		<div class="component">
			<header>
				<twig:H2>À propos</twig:H2>
			</header>
			<section>
				<p class="text-sm">
					{{ get_building_info(constant('App\\Modules\\Athena\\Resource\\OrbitalBaseResource::REFINERY'), 'description')|raw }}
				</p>
			</section>
		</div>
	</div>
{% endblock content %}
