{% extends 'layouts/athena/current_base.html.twig' %}

{% block content %}
	<div class="flex gap-x-4 [&>div]:w-80">
		<twig:LayoutBox class="component building">
			<header>
				{#<img src="{{ asset('build/media/orbitalbase/storage.png') }}" alt="" />#}
				<twig:H2>
					{{ get_building_info(constant('App\\Modules\\Athena\\Resource\\OrbitalBaseResource::STORAGE'), 'frenchName') }}
				</twig:H2>
				<twig:H5>Niveau {{ current_base.levelStorage }}</twig:H5>
			</header>

			<section class="mt-4">
				{{ include('molecules/base/production/storage_gauge.html.twig', {
					'stored_resources': current_base.resourcesStorage,
					'percent': current_base|base_storage_percent,
				}) }}

				<hr class="my-2" />

				<twig:NumberBox label="bonus technologique de stockage" :faction="current_player.faction">
					{{ storage_bonus }} %
				</twig:NumberBox>
			</section>
		</twig:LayoutBox>

		<twig:LayoutBox class="component">
			<header>
				<twig:H2>Gestion des stocks</twig:H2>
			</header>
			<section>
				<twig:H3>Stockage maximal de la raffinerie</twig:H3>
				<ul class="flex flex-col gap-y-2 divide-y divide-gray-500 mt-2 border-y border-gray-500">
					{% set storage_level = current_base.levelStorage %}

					{% for level in get_building_level_range(storage_level) %}
						<li {% if level == storage_level %}class="strong"{% endif %}>
							<em class="text-sm">niveau {{ level }}</em><br>
							<span class="value">
								{% set storage_space = get_building_info(
									constant('App\\Modules\\Athena\\Resource\\OrbitalBaseResource::STORAGE'),
									'level',
									level,
									'storageSpace',
								) %}
								{{ storage_space|number }}
								{% if storage_bonus > 0 %}
									<span class="px-1 bg-medium{{ current_player.faction.identifier }}">+{{ (storage_space * storage_bonus / 100)|number }}</span>
								{% endif %}
								{#<img class="icon-color" src="{{ asset('build/media/resources/resource.png') }}" alt="ressources" />#}
							</span>
						</li>
					{% endfor %}
				</ul>
			</section>
		</twig:LayoutBox>

		<div>
			<header>
				<twig:H2>À propos</twig:H2>
			</header>

			<section class="mt-4">
				<p class="text-sm">
					{{ get_building_info(constant('App\\Modules\\Athena\\Resource\\OrbitalBaseResource::STORAGE'), 'description')|raw }}
				</p>
			</section>
		</div>
	</div>
{% endblock content %}
