{% extends 'layouts/athena/current_base.html.twig' %}

{% block content %}
	<div class="grid grid-cols-6 gap-4">
		<twig:LayoutBox class="col-span-1">
			<header>
				{#<img src="{{ asset('build/media/orbitalbase/commercialplateforme.png') }}" alt="" />#}
				<twig:H2>
					{{ get_building_info(constant('App\\Modules\\Athena\\Resource\\OrbitalBaseResource::COMMERCIAL_PLATEFORME'), 'frenchName') }}
				</twig:H2>
				<twig:H5>niveau {{ current_base.levelCommercialPlateforme }}</twig:H5>
			</header>

			<section class="mt-4 flex flex-col divide-y divide-gray-500 [&>a]:p-2 border-y border-gray-500 [&>a:hover]:bg-gray-900 transition-[background-color] duration-200 ease-in">
				<a href="{{ path('trade_market', { mode: 'market' }) }}" class="bg-gray-700 {% if mode == 'market' %}bg-gray-900{% endif %}">
					{#<img src="{{ asset('build/media/orbitalbase/commercialplateforme.png') }}" alt="" />#}
					<strong class="text-sm">Place du commerce</strong><br>
					<em class="text-xs">Achetez sur le marché</em>
				</a>

				<a href="{{ path('trade_market', { mode: 'sell' }) }}" class="bg-gray-700 {% if mode == 'sell' %}bg-gray-900{% endif %}">
					{#<img src="{{ asset('build/media/orbitalbase/commercialplateforme.png') }}" alt="" />#}
					<strong class="text-sm">Salle des ventes</strong><br>
					<em class="text-xs">Vendez sur le marché</em>
				</a>

				<a href="{{ path('trade_market', { mode: 'resource' }) }}" class="bg-gray-700 {% if mode == 'resource' %}bg-gray-900{% endif %}">
					{#<img src="{{ asset('build/media/orbitalbase/commercialplateforme.png') }}" alt="" />#}
					<strong class="text-sm">Halle de transfert</strong><br>
					<em class="text-xs">Envoyez des ressources et des vaisseaux</em>
				</a>
			</section>
		</twig:LayoutBox>

		{{ include('components/base/trade/commercial_shippings.html.twig') }}

		{{ include('components/base/trade/' ~ mode ~ '.html.twig', { resources_current_rate }) }}

		<div class="col-span-1">
			<header>
				<twig:H2>A propos</twig:H2>
			</header>
			<section class="mt-4">
				<p class="text-sm">
					{{ get_building_info(constant('App\\Modules\\Athena\\Resource\\OrbitalBaseResource::COMMERCIAL_PLATEFORME'), 'description')|raw }}
				</p>
			</section>
		</div>
	</div>
{% endblock content %}
