{% extends 'layouts/athena/current_base.html.twig' %}

{% block content %}
	<twig:LayoutBox>
		<header>
			{#<img src="{{ asset('build/media/orbitalbase/commercialplateforme.png') }}" alt="" />#}
			<twig:H2>
				{{ get_building_info(constant('App\\Modules\\Athena\\Resource\\OrbitalBaseResource::COMMERCIAL_PLATEFORME'), 'frenchName') }}
			</twig:H2>
			<twig:H5>niveau {{ current_base.levelCommercialPlateforme }}</twig:H5>
		</header>
		<section class="mt-4">
			<a href="{{ path('trade_market', { mode: 'market' }) }}" class="nav-element {% if mode == 'market' %}active{% endif %}">
				{#<img src="{{ asset('build/media/orbitalbase/commercialplateforme.png') }}" alt="" />#}
				<strong>Place du commerce</strong>
				<em>Achetez sur le marché</em>
			</a>

			<a href="{{ path('trade_market', { mode: 'sell' }) }}" class="nav-element {% if mode == 'sell' %}active{% endif %}">
				{#<img src="{{ asset('build/media/orbitalbase/commercialplateforme.png') }}" alt="" />#}
				<strong>Salle des ventes</strong>
				<em>Vendez sur le marché</em>
			</a>
			<hr />
			<a href="{{ path('trade_market', { mode: 'resource' }) }}" class="nav-element {% if mode == 'resource' %}active{% endif %}">
				{#<img src="{{ asset('build/media/orbitalbase/commercialplateforme.png') }}" alt="" />#}
				<strong>Halle de transfert</strong>
				<em>Envoyez des ressources et des vaisseaux</em>
			</a>
		</section>
	</twig:LayoutBox>

	{{ include('components/base/trade/commercial_shippings.html.twig') }}
	{{ include('components/base/trade/' ~ mode ~ '.html.twig', { resources_current_rate }) }}

	<div>
		<header>
			<h2>A propos</h2>
		</header>
		<section class="mt-4">
			<p class="text-sm">
				{{ get_building_info(constant('App\\Modules\\Athena\\Resource\\OrbitalBaseResource::COMMERCIAL_PLATEFORME'), 'description')|raw }}
			</p>
		</section>
	</div>

{% endblock content %}
