{% set statuses = get_faction_info(faction.id, 'status') %}

<div class="component profil player size1">
	<div class="head skin-2">
		<h2>Nomination</h2>
		</div>
	<div class="fix-body">
		<div class="body">
			{% set list = [
				constant('App\\Modules\\Zeus\\Model\\Player::MINISTER'),
				constant('App\\Modules\\Zeus\\Model\\Player::WARLORD'),
				constant('App\\Modules\\Zeus\\Model\\Player::TREASURER'),
			] %}

			{% for type in list %}
				<h4>{{ statuses[type - 1] }}</h4>

				{% set department_minister = government_members|filter(minister => minister.status == type)|first %}
				{% if department_minister is not same as(false) %}
					{% dump department_minister %}
					<div class="player">
						<a href="{{ path('embassy', {'player': minister.id}) }}">
							<img src="{{ asset('media/avatar/small/' ~ minister.avatar ~ '.png') }}" alt="{{ minister.name }}"  class="picto" />
						</a>
						<span class="title">{{ statuses[minister.status - 1] }}</span>
						<strong class="name">{{ minister.name }}</strong>
						<span class="experience">{{ minister.factionPoint|number }} de prestige</span>
					</div>

					<a href="{{ path('fire_minister', {'id': minister.id}) }}" class="more-button">Démettre de ses fonctions</a>

				{% elseif current_player.isLeader %}
					<form action="{{ path('choose_minister', {'department': type}) }}" method="post" class="choose-government">
						<select name="rplayer">
							<option value="-1">Choisissez un joueur</option>
							{% for senator in senators %}
								<option value="{{ senator.id }}">{{ statuses[senator.status - 1] }} {{ senator.name }}</option>
							{% endfor %}
						</select>
						<button type="submit">Nommer au poste</button>
					</form>
				{% else %}
					<div class="center-box">
						<span class="label">Aucun joueur à ce poste</span>
					</div>
				{% endif %}
			{% endfor %}
		</div>
	</div>
</div>
