{% set travel_time = get_travel_time(current_base, place)|lite_seconds %}

<div class="w-full border-l-2 border-stone-900 min-w-80">
	<div class="flex items-center justify-around p-4 border-b-2 border-stone-900">
		{% if place.typeOfPlace == 1 %}
			{% if place.player is null and place.typeOfPlace != 1 %}
				{% set tooltip = 'Vous ne pouvez pas attaquer une planète non-habitable' %}
			{% elseif place.typeOfPlace == 1 and place.player is not null and place.player.faction.id == current_player.faction.id %}
				{% set tooltip = 'Vous ne pouvez pas attaquer un joueur de votre faction' %}
			{% elseif place.typeOfPlace == 1 and place.player is not null and place.player.level == 1 and place.player is not null %}
				{% set tooltip = 'Ce joueur est sous protection débutant' %}
			{% else %}
				{% set tooltip = '' %}
			{% endif %}
			<twig:PlaceAction
				data-action="click->map--action-box#chooseAction"
				data-action-id="1"
				name="Lancer un pillage"
				:disabled="can_player_attack_place(current_player, place) == false"
				:tooltip="tooltip"
				picto="images/legacy/picto/Combat.svg" />

			{% set max_bases = technologies.getTechnology(constant('App\\Modules\\Promethee\\Model\\TechnologyId::BASE_QUANTITY')) + 1 %}
			{% set total_bases = get_player_bases_count(moving_commanders) %}

			{% if place.player is null and place.typeOfPlace != 1 %}
				{% set tooltip = 'Vous ne pouvez pas coloniser une planète non-habitable.' %}
			{% elseif place.typeOfPlace == 1 and place.player is not null and place.player.faction.id == current_player.faction.id %}
				{% set tooltip = 'Vous ne pouvez pas conquérir un joueur de votre faction.' %}
			{% elseif place.typeOfPlace == 1 and place.player is not null and place.player.level <= 3 and place.player.level > 0 %}
				{% set tooltip = 'Vous ne pouvez pas conquérir un joueur de niveau 3 ou inférieur.' %}
			{% elseif place.player is null and technologies.getTechnology(constant('App\\Modules\\Promethee\\Model\\TechnologyId::COLONIZATION')) == 0 %}
				{% set tooltip = 'Vous devez développer la technologie colonisation.' %}
			{% elseif place.player is not null and technologies.getTechnology(constant('App\\Modules\\Promethee\\Model\\TechnologyId::COLONIZATION')) == 0 %}
				{% set tooltip = 'Vous devez développer la technologie conquête.' %}
			{% elseif total_bases >= max_bases %}
				{% set tooltip = 'Vous devez améliorer le niveau de la technologie administration étendue pour disposer de planète supplémentaire.' %}
			{% else %}
				{% set tooltip = '' %}
			{% endif %}

			<twig:PlaceAction
				data-action="click->map--action-box#chooseAction"
				data-action-id="2"
				:disabled="can_player_attack_place(current_player, place) == false"
				:name="'Lancer une ' ~ (place.player is null ? 'colonisation' : 'conquête')"
				:tooltip="tooltip"
				picto="images/map/conquer.svg" />


			{% if place.id == current_base.id %}
				{% set tooltip = 'Vous ne pouvez pas déplacer une flotte sur votre planète de départ' %}
			{% elseif place.player is not null and place.player.faction.id != current_player.faction.id %}
				{% set tooltip = 'Vous ne pouvez donner une de vos flotte qu\'a un membre de votre faction' %}
			{% else %}
				{% set tooltip = '' %}
			{% endif %}
			<twig:PlaceAction
				data-action="click->map--action-box#chooseAction"
				data-action-id="3"
				:name="place.player is not null and place.player.id == current_base.player.id ? 'Déplacer une flotte' : 'Donner votre flotte'"
				:tooltip="tooltip"
				:disabled="can_player_move_to_place(current_player, place, current_base) == false"
				picto="images/legacy/picto/ships/Fleet.svg" />


			{% if place.player is null %}
				{% set tooltip = 'Vous ne pouvez proposer une route commerciale qu\'à des joueurs.' %}
			{% elseif place.id == current_base.place.id %}
				{% set tooltip = 'Vous ne pouvez pas proposer une route commerciale sur votre propre base.' %}
			{% elseif current_base.levelSpatioport == 0 %}
				{% set tooltip = 'Il vous faut un spatioport pour proposer une route commerciale.' %}
			{% elseif place.base.levelSpatioport == 0 %}
				{% set tooltip = 'Le joueur ne dispose pas d\'un spatioport.' %}
			{% else %}
				{% set tooltip = '' %}
			{% endif %}

			<twig:PlaceAction
				data-action="click->map--action-box#chooseAction"
				data-action-id="4"
				name="Proposer une route commerciale"
				:disabled="can_orbital_base_trade_with_place(current_base, place) == false"
				:tooltip="tooltip"
				picto="images/legacy/picto/B_Merc_64px.png" />

			{% if place.player is not null and place.player.faction.id == current_player.faction.id %}
				{% set tooltip = 'Vous ne pouvez pas espionner un joueur de votre faction' %}
			{% elseif place.player is null and place.typeOfPlace != 1 %}
				{% set tooltip = 'Vous ne pouvez pas espionner une planète non-habitable' %}
			{% else %}
				{% set tooltip = '' %}
			{% endif %}
			<twig:PlaceAction
				data-action="click->map--action-box#chooseAction"
				data-action-id="5"
				name="Lancer un espionnage"
				:disabled="can_spy(current_player, place) == false"
				:tooltip="tooltip"
				picto="images/map/spy.svg" />
		{% else %}
			{% if place.system.sector.faction is not null and place.system.sector.faction.id != current_player.faction.id %}
				{% set tooltip = 'Vous ne pouvez envoyer des recycleurs que dans des secteurs non-revendiqués ou contrôlés par votre faction.' %}
			{% elseif place.typeOfPlace == constant('App\\Modules\\Gaia\\Model\\Place::EMPTYZONE') %}
				{% set tooltip = 'Cet endroit regorgait autrefois de ressources ou de gaz mais de nombreux recycleurs sont déjà passés par là et n\'ont laissé que le vide de l\'espace.' %}
			{% elseif current_base.levelRecycling == 0 %}
				{% set tooltip = 'Vous devez disposer d\'un centre de recyclage.' %}
			{% else %}
				{% set tooltip = '' %}
			{% endif %}

			<twig:PlaceAction
				data-action="click->map--action-box#chooseAction"
				data-action-id="6"
				name="Envoyer des recycleurs"
				:tooltip="tooltip"
				:disabled="can_recycle(current_player, place) == false"
				picto="images/map/recycling.svg" />
		{% endif %}
	</div>

	<div class="h-full">
		{% if place.typeOfPlace == 1 %}
			<twig:PlaceActionPanel title="Lancer un pillage" id="1" :actionUrl="path('loot', {'id': '{id}', 'placeId': place.id})">
				<twig:CommanderTile :travelTime="travel_time" :place="place">
					<twig:block name="travel_details">
						{{ parent() }}

						<twig:TravelDetail valueId="capacity" label="Soute" />
					</twig:block>
				</twig:CommanderTile>
			</twig:PlaceActionPanel>

			{% if place.player is null %}
				{% set cost = colonization_cost|number %}
				{% set action_url = path('colonize', {'id': '{id}', 'placeId': place.id}) %}
				{% set label = 'Lancer la colonisation' %}
			{% else %}
				{% set cost = conquest_cost|number %}
				{% set action_url = path('conquer', {'id': '{id}', 'placeId': place.id}) %}
				{% set label = 'Lancer la conquête' %}
			{% endif %}
			<twig:PlaceActionPanel :title="'Lancer une ' ~ (place.player is null ? 'colonisation' : 'conquête')" id="2" :actionUrl="action_url">
				<twig:CommanderTile :travelTime="travel_time" :place="place">
					<twig:block name="travel_details">
						{{ parent() }}

						<twig:TravelDetail label="Coût" :value="cost" />
					</twig:block>
				</twig:CommanderTile>
			</twig:PlaceActionPanel>

			<twig:PlaceActionPanel :title="place.player is not null and place.player.id == current_base.player.id ? 'Déplacer une flotte' : 'Donner votre flotte'" id="3" :actionUrl="path('move_fleet', {'id': '{id}', 'placeId': place.id})">
				<twig:CommanderTile :travelTime="travel_time" :place="place">
					<twig:block name="alerts">
						{{ parent() }}

						{% if place.player is not null and place.player.id != current_player.id %}
							<twig:CommanderAlert identifier="lost-fleet" :factionIdentifier="current_player.faction.identifier">
								Attention, vous perdrez votre flotte !
							</twig:CommanderAlert>
						{% endif %}
					</twig:block>

					<twig:block name="travel_details">
						{{ parent() }}
					</twig:block>
				</twig:CommanderTile>
			</twig:PlaceActionPanel>

			{% if place.base is not null %}
				<twig:PlaceActionPanel title="Proposer une route commerciale" id="4">
					<div class="box-content">
						{% set commercial_route_data = get_commercial_route_data(current_base, place) %}
						{% set distance = get_place_distance(current_base, place) %}

						{% set price = get_route_price(distance) %}
						{% set income = get_route_income(current_base, place.base) %}

						<div class="rc">
							{#<img src="{{ asset('build/media/map/place/place' ~ place.typeOfPlace ~ '-' ~ get_place_demography(place) ~ '.png') }}" alt="" class="planet" />#}

							<div class="flex justify-between mb-2">
								<twig:NumberBox label="Revenu par relève">
									{{ income|number }}
									<img src="{{ asset('images/legacy/picto/G_P_Mon_64px.png') }}" alt="" class="inline w-4 h-4" />
								</twig:NumberBox>

								<twig:NumberBox label="Coût de construction">
									{{ price|number }}
									<img src="{{ asset('images/legacy/picto/G_P_Mon_64px.png') }}" alt="" class="inline w-4 h-4" />
								</twig:NumberBox>
							</div>

							{% if commercial_route_data.proposed == true %}
								<a href="{{ path('spatioport') }}" class="button">
									<twig:Button :faction="current_player.faction">
										Annuler la proposition
									</twig:Button>
								</a>
							{% elseif commercial_route_data.not_accepted == true %}
								<a href="{{ path('spatioport') }}" class="button">
									<twig:Button :faction="current_player.faction">
										Accepter la proposition
									</twig:Button>
								</a>
							{% elseif commercial_route_data.stand_by == true %}
								<twig:Button :faction="current_player.faction" disabled>
									C'est la guerre.
								</twig:Button>
							{% else %}
								{% if price > current_player.credit %}
									<twig:Button :faction="current_player.faction" disabled>
										Vous n'avez pas assez de crédits.
									</twig:Button>
								{% elseif commercial_route_data.slots < get_building_info(constant('App\\Modules\\Athena\\Resource\\OrbitalBaseResource::SPATIOPORT'), 'level', current_base.levelSpatioport, 'nbRoutesMax') %}
									<a href="{{ path('propose_route', {'sourceBase': current_base.id, 'destinationBase': place.base.id }) }}" class="button">
										<twig:Button :faction="current_player.faction">
											Proposer une route commerciale
										</twig:Button>
									</a>
								{% else %}
									<twig:Button :faction="current_player.faction" disabled>
										Pas assez de slots.
									</twig:Button>
								{% endif %}
							{% endif %}
						</div>
					</div>
				</twig:PlaceActionPanel>
			{% endif %}

			<twig:PlaceActionPanel title="Lancer un espionnage" id="5">
				<div class="box-content">
					{% set prices = {
						'Impact faible': 1000,
						'Impact moyen': 2500,
						'Grand impact': 5000
					} %}

					{% for label in prices|keys %}
						{% set price = prices[label] %}
						<a href="{{ path('spy', {'baseId': place.id, price}) }}" class="spy-button">
							<span class="label text-sm">{{ label }}</span>
							<span class="price">
								{{ price|number }}
								<img src="{{ asset('build/media/resources/credit.png') }}" class="icon-color" alt="" />
							</span>
						</a>
					{% endfor %}

					<form class="spy-form flex " method="post" action="{{ path('spy', {'baseId': place.id}) }}">
						<twig:Input type="text" value="10000" name="price" min="1" max="1000000" />
						<twig:Button type="submit" :faction="current_player.faction">
							Espionner
						</twig:Button>
					</form>
				</div>
			</twig:PlaceActionPanel>
		{% else %}
			<twig:PlaceActionPanel title="Envoyer des recycleurs" id="6">
				<div class="box-content">
					{% set total_ships = get_building_info(
						constant('App\\Modules\\Athena\\Resource\\OrbitalBaseResource::RECYCLING'),
						'level',
						current_base.levelRecycling,
						'nbRecyclers',
					) %}
					{# @TODO move this logic to a dedicated service #}
					{% set active_ships = recycling_missions|reduce((carry, rm) => carry + rm.recyclerQuantity + rm.addToNextMission) %}
					{% set available_recyclers = total_ships - active_ships %}

					<twig:NumberBox label="Recycleurs libres">
						{{ available_recyclers|number }}
					</twig:NumberBox>

					<twig:NumberBox label="Temps de cycle">
						{{ get_recycling_mission_time(current_base, place)|lite_seconds }}
					</twig:NumberBox>

					<form class="spy-form" method="post" action="{{ path('create_recycling_mission', {'targetId': place.id}) }}">
						<twig:Input type="number" name="quantity" value="{{ available_recyclers }}" min="1" max="{{ available_recyclers }}" class="w-full" />
						<twig:Button type="submit" :faction="current_player.faction" class="mt-2 mx-auto">
							Envoyer
						</twig:Button>
					</form>
				</div>
			</twig:PlaceActionPanel>
		{% endif %}
	</div>
</div>
