{% set antispy_param = constant('App\\Classes\\Container\\Params::SHOW_MAP_ANTISPY') %}

<div id="spying" class="absolute w-full h-full z-[400] left-0 top-0 group-[.sector-only]/map:opacity-0 transition-opacity ease-in duration-500" {% if false == app.request.cookies.get('p' ~ antispy_param, default_map_parameters[antispy_param]) %}style="display:none;"{% endif %}>
	<svg viewBox="0, 0, {{ map_size }}, {{ map_size }}" xmlns="http://www.w3.org/2000/svg">
		{% for base in player_bases %}
			{% set base_system = base.place.system %}
			{% set spy_radius = get_base_antispy_radius(base) %}
			{% set centerX = base_system.xPosition * galaxy_configuration.scale %}
			{% set centerY = base_system.yPosition * galaxy_configuration.scale %}

			<circle cx="{{ centerX }}" cy="{{ centerY }}" r="{{ spy_radius / 3 }}" class="fill-medium{{ base.player.faction.identifier }} opacity-20 stroke-1 stroke-white" />
			<circle cx="{{ centerX }}" cy="{{ centerY }}" r="{{ (spy_radius / 3) * 2 }}" class="fill-medium{{ base.player.faction.identifier }} opacity-20 stroke-1 stroke-white" />
			<circle cx="{{ centerX }}" cy="{{ centerY }}" r="{{ spy_radius }}" class="fill-medium{{ base.player.faction.identifier }} opacity-20 stroke-1 stroke-white" />
		{% endfor %}
	</svg>
</div>
