<div id="systems" class="absolute z-[900] w-full">
	{% set current_player_bases_sector_ids = player_bases|map(b => b.place.system) %}

	{% for system in systems %}
		{% set has_bases_in = system.id in current_player_bases_sector_ids %}
		<div
			class="{% if system.id == current_system_id %}active{% endif %} cursor-pointer absolute border border-4 {% if system.faction is not null %}border-light{{ system.faction.identifier }}{% endif%} rounded-full w-4 h-4 cursor-pointer group-[.sector-only]/map:hidden"
			data-x-position="{{ system.xPosition }}"
			data-y-position="{{ system.yPosition }}"
		   	data-controller="map--system"
		   	data-action="click->map--system#select"
			data-map--system-map--action-box-outlet="#action-box"
			data-map--system-id-value="{{ system.id.toRfc4122() }}"
			style="top: {{ system.yPosition * galaxy_configuration.scale - 10 }}px; left: {{ system.xPosition * galaxy_configuration.scale - 10 }}px"
		>
			{# <img src="{{ asset('build/media/map/systems/t' ~ system.typeOfSystem ~ 'c' ~ (system.faction.identifier ?? 0) ~ '.png') }}"
				 {% if has_bases_in %}class="own"{% endif%}
				alt="" /> #}

		</div>
	{% endfor %}

	{% for sector in sectors %}
		{% set sectorCenterX = sector.xBarycentric * galaxy_configuration.scale %}
		{% set sectorCenterY = sector.yBarycentric * galaxy_configuration.scale %}
		<span
		class="absolute sector-number color{{ sector.faction.identifier ?? 0 }} sh"
		data-target="sector-info-{{ sector.identifier }}"
		style="left: {{ sectorCenterX }}px; top: {{ sectorCenterY }}px">
			{{ sector.identifier }}
		</span>

		<div id="sector-info-{{ sector.identifier }}" class="absolute sector-info color{{ sector.faction.identifier ?? 0 }}" style="left: {{ sectorCenterX + 55 }}px; top: {{ sectorCenterY - 10 }}px">
			<h2>{{ sector.name }}</h2>
			<p>
				<a href="#">+</a>
				{% if sector.faction is not null %}
					Revendiqué par {{ get_faction_info(sector.faction.identifier ?? 0, 'popularName') }}
					| {{ sector.tax }}% de taxe
				{% else %}
					Non revendiqué
					| Aucune taxe
				{% endif %}
				| rapporte {{ sector.points }} point{{ sector.points|plural }}
			</p>
		</div>
	{% endfor %}
</div>
