{% set nbr = key + 1 %}

{% set squadron = commander.getSquadron(key) %}
{% set pev = squadron is not null ? squadron.pev : 0 %}
{% if pev == 0 %}
	{% set full = 'full0' %}
{% elseif pev < 50 %}
	{% set full = 'full1' %}
{% elseif pev < 99 %}
	{% set full = 'full2' %}
{% else %}
	{% set full = 'full3' %}
{% endif %}

{% if nbr == lineCoord|length %}
	{% set content = '---' %}
	{% set title = 'prochaine escadrille disponible' %}
	{% set available = false %}
{% else %}
	{% set content =  pev ~ '/100' %}
	{% set title = '' %}
	{% set available = true %}
{% endif %}

<div class="relative w-16 h-16 border border-gray-600 flex flex-col items-center p-2 my-2 rounded-md data-[selected]:border-dashed data-[selected]:border-gray-200 select-none
	{% if available %}cursor-pointer bg-dark{{ commander.base.player.faction.identifier }}{% endif %}"
	 {% if not available %}inert{% endif %}
	 data-fleet--squadron-target="squadron"
	 data-action="click->fleet--squadron#selectSquadron"
	 data-squadron-id="{{ nbr - 1 }}"
	 data-squadron-ships="{{ (squadron is not null ? squadron.getShips() : range(0, 11)|map(v => 0))|json_encode() }}"
	 data-squadron-pev="{{ pev }}"
	 title="{{ title }}">
	<div class="absolute top-1 right-2">
		<strong>{{ nbr }}</strong>
	</div>

	<div class="absolute -bottom-3 flex justify-center">
		<em class="py-1 bg-gray-900 text-xs rounded-md w-12 text-center pevs">{{ content }}</em>
	</div>
</div>

