{% set experience_level = base_commander_level %}

<div class="component">
	<div class="head skin-2">
		<h2>Liste des grades</h2>
	</div>
	<div class="fix-body">
		<div class="body">
			<h4>Officiers</h4>

			<ul class="list-type-1">
				{% for i in 1..min(commanders_ranks_count, 16) %}
					{% if i == 9 %}
						</ul>
						<h4>Officiers supérieurs</h4>
						<ul class="list-type-1">
					{% endif %}

					<li>
						<span class="label">
							{{ experience_level|number }}
							<img class="icon-color" src="{{ asset('build/media/resources/xp.png') }}" alt="expérience">
							&emsp;|&emsp;
							{{ (i * 100)|number }}
							<img class="icon-color" src="{{ asset('build/media/resources/pev.png') }}" alt="points équivalents vaisseaux">
						</span>
						<span class="value">{{ get_commander_rank(i) }}</span>
					</li>

					{% set experience_level = experience_level * 2 %}
				{% endfor %}
			</ul>
		</div>
	</div>
</div>
