{% set experience_level = base_commander_level %}

<div class="w-96">
	<header>
		<twig:H2>Liste des grades</twig:H2>
	</header>

	<section class="mt-4">
		<twig:H3>Officiers</twig:H3>

		<ul class="list-type-1">
			{% for i in 1..min(commanders_ranks_count, 16) %}
				{% if i == 9 %}
					</ul>
					<twig:H3 class="mt-4">Officiers supérieurs</twig:H3>
					<ul class="list-type-1">
				{% endif %}

				<li class="text-right">
					<span class="text-xs">
						{{ experience_level|number }} xp
<!--						<img class="icon-color" src="{{ asset('build/media/resources/xp.png') }}" alt="expérience">-->
						&emsp;|&emsp;
						{{ (i * 100)|number }} pev
<!--						<img class="icon-color" src="{{ asset('build/media/resources/pev.png') }}" alt="points équivalents vaisseaux">-->
					</span><br>
					<span class="value">{{ get_commander_rank(i) }}</span>
				</li>

				{% set experience_level = experience_level * 2 %}
			{% endfor %}
		</ul>
	</section>
</div>
