
<div class="component profil">
	<div class="head skin-2">
		<h2>Etat des armées</h2>
		</div>
	<div class="fix-body">
		<div class="body">
			<h4>Statistiques générales</h4>

			<div class="number-box">
				<span class="label">officiers actifs</span>
				<span class="value">{{ commander_stats.nb|number }}</span>
				<span class="group-link"><a href="#" title="officiers affectés en première ou deuxième ligne sur des planètes de la faction" class="hb lt">?</a></span>
				</div>

			<div class="number-box grey">
				<span class="label">grade moyen des officiers actifs</span>
				<span class="value">{{ commander_stats.avgLevel is defined and commander_stats.avgLevel is not null ? get_commander_rank(commander_stats.avgLevel|round) : 'Inconnu' }}</span>
			</div>

			<div class="number-box grey">
				<span class="label">PEV totaux</span>
				<span class="value">
					{{ total_pev|number }}
				 	<img class="icon-color" src="{{ asset('media/resources/pev.png') }}" alt="pev">
				</span>
				<span class="group-link">
					<a href="#" title="PEV affectés à des commandants actifs" class="hb lt">?</a>
				</span>
			</div>

			<div class="number-box grey">
				<span class="label">PEV moyens par officier</span>
				<span class="value">
					{{ commander_stats.nb is defined and commander_stats.nb != 0 ? (total_pev/commander_stats.nb)|number : 0 }}
					<img class="icon-color" src="{{ asset('media/resources/pev.png') }}" alt="pev">
				</span>
			</div>

			<h4>Nombre d'appareils par type</h4>
			<ul class="list-type-1">
				{# @TODO loop through ship models more properly #}
				{% for i in 0..11 %}
					<li>
						<img class="picto" src="{{ asset('media/ship/picto/' ~ get_ship_info(i, 'imageLink') ~ '.png') }}" alt="" />
						<span class="label">{{ get_ship_info(i, 'name') }} &laquo;{{ get_ship_info(i, 'codeName') }}&raquo;</span>
						<span class="value">{{ (fleet_stats['nbs' ~ i] ?? 0)|number }}</span>
					</li>
				{% endfor %}
			</ul>
		</div>
	</div>
</div>
