{% extends 'layouts/athena/current_base.html.twig' %}

{% block content %}
	{% set technosphere_building_number = constant('App\\Modules\\Athena\\Resource\\OrbitalBaseResource::TECHNOSPHERE') %}

	<div class="flex gap-x-4 [&>div]:w-80">
		<twig:LayoutBox>
			<header>
				{#<img src="{{ asset('build/media/orbitalbase/technosphere.png') }}" alt="" />#}
				<twig:H2>{{ get_building_info(technosphere_building_number, 'frenchName') }}</twig:H2>
				<twig:H5>niveau {{ current_base.levelTechnosphere }}</twig:H5>
			</header>
			<section class="mt-4">
				<div class="body">
					<twig:NumberBox label="bonus total de vitesse de recherche">
						{{ total_bonus }} %
					</twig:NumberBox>

					<twig:H3 class="mt-4">File de construction</twig:H3>

					<div class="flex flex-col divide-y divide-gray-500">
						{% set total_time_techno = 0 %}
						{% set base_queues_count = base_queues|length %}

						{% for queue in base_queues %}
							{% set total_time_techno = total_time_techno + queue|technology_queue_time %}
							{% set remaining_total_time = queue|queue_duration %}

							<div class="item active progress py-2"
								 data-progress-output="lite"
								 data-progress-current-time="{{ remaining_total_time }}"
								 data-progress-total-time="{{ total_time_techno }}">
								<a href="{{ path('cancel_technology_queue', {'identifier': queue.technology }) }}"
								   class="button hb lt"
								   title="annuler la recherche (attention, vous ne récupérerez que {{ technology_resource_refund * 100 }}% du montant investi)">×</a>
								{#<img class="picto" src="{{ asset('build/media/technology/picto/' ~ queue|queue_picture ~ '.png') }}" alt="" />#}
								<strong class="text-sm">{{ queue|queue_name }}
									{% if queue|is_unblocking_technology %}
										<span class="level">niv. {{ queue.targetLevel }}</span>
									{% endif %}
								</strong><br>

								<em class="text-sm"><span class="progress-text">{{ remaining_total_time|lite_seconds }}</span></em>

								{% if base_queues_count > 1 %}
									<twig:ProgressBar current="0" :faction="current_player.faction" />
								{% else %}
									<twig:ProgressBar :current="(total_time_techno - remaining_total_time)|percent(total_time_techno)" :faction="current_player.faction" />
								{% endif %}
							</div>
						{% endfor %}

						{% if base_queues_count < available_queues %}
							{% for i in range(base_queues_count, available_queues - 1) %}
								<div class="item empty">
									<span class="picto"></span>
									<strong>Emplacement libre</strong>
									<span class="progress-container"></span>
								</div>
							{% endfor %}
						{% endif %}
					</div>
				</div>
			</section>
		</twig:LayoutBox>

		{% if has_financial_technologies %}
			<div>
				<header>
					<twig:H2>Améliorations industrielles I</twig:H2>
				</header>

				<section class="flex flex-col gap-y-4">
					{% for data in technologies_data[4] %}
						{{ include('molecules/technology/technology_card.html.twig', { data }) }}
					{% endfor %}
				</section>
			</div>

			<div>
				<header>
					<twig:H2>Améliorations industrielles II</twig:H2>
				</header>

				<section class="flex flex-col gap-y-4">
					{% for data in technologies_data[5] %}
						{{ include('molecules/technology/technology_card.html.twig', { data }) }}
					{% endfor %}
				</section>
			</div>
		{% endif %}

		{% if has_military_technologies %}
			<div>
				<header>
					<twig:H2>Améliorations militaires I</twig:H2>
				</header>

				<section class="flex flex-col gap-y-4">
					{% for data in technologies_data[6] %}
						{{ include('molecules/technology/technology_card.html.twig', { data }) }}
					{% endfor %}
				</section>
			</div>

			<div>
				<header>
					<twig:H2>Améliorations militaires II</twig:H2>
				</header>

				<section class="flex flex-col gap-y-4">
					{% for data in technologies_data[7] %}
						{{ include('molecules/technology/technology_card.html.twig', { data }) }}
					{% endfor %}
				</section>
			</div>
		{% endif %}

		<div>
			<header>
				<twig:H2>Nouvelles technologies</twig:H2>
			</header>
			<section class="flex flex-col gap-y-4">
				{% for data in technologies_data[1]|filter(v => v.is_over) %}
					{{ include('molecules/technology/technology_card.html.twig', { data }) }}
				{% endfor %}
				{% for data in technologies_data[1]|filter(v => not v.is_over) %}
					{{ include('molecules/technology/technology_card.html.twig', { data }) }}
				{% endfor %}
			</section>
		</div>

		<div>
			<header>
				<twig:H2>Châssis I</twig:H2>
			</header>

			<section class="flex flex-col gap-y-4">
				{% for data in technologies_data[2]|filter(v => v.is_over) %}
					{{ include('molecules/technology/technology_card.html.twig', { data }) }}
				{% endfor %}
				{% for data in technologies_data[2]|filter(v => not v.is_over) %}
					{{ include('molecules/technology/technology_card.html.twig', { data }) }}
				{% endfor %}
			</section>
		</div>

		<div>
			<header>
				<twig:H2>Châssis II</twig:H2>
			</header>
			<section class="flex flex-col gap-y-4">
				{% for data in technologies_data[3]|filter(v => v.is_over) %}
					{{ include('molecules/technology/technology_card.html.twig', { data }) }}
				{% endfor %}
				{% for data in technologies_data[3]|filter(v => not v.is_over) %}
					{{ include('molecules/technology/technology_card.html.twig', { data }) }}
				{% endfor %}
			</section>
		</div>

		<div>
			<header>
				<twig:H2>À propos</twig:H2>
			</header>
			<section class="flex flex-col gap-y-4">
				<p class="long-info">{{ get_building_info(technosphere_building_number, 'description')|raw }}</p>
			</section>
		</div>
	</div>
{% endblock content %}
