<twig:LayoutBox class="col-span-1">
	<header>
		<h2 class="font-bold text-lg">Archives Militaires</h2>
	</header>
	<div class="fix-body">
		<div class="body">
			<div class="tool">
				<span>
					<a href="{{ path('switch_param', {'param': constant('App\\Classes\\Container\\Params::SHOW_ATTACK_REPORT')}) }}" class="active">
						{{- (app.request.cookies.get('p' ~ constant('App\\Classes\\Container\\Params::SHOW_ATTACK_REPORT'), default_parameters[constant('App\\Classes\\Container\\Params::SHOW_ATTACK_REPORT')]) ? 'Rapports d\'attaque' : 'Rapports de défense') -}}
					</a>
				</span>
				<span>
					{% set show_rebel_report = app.request.cookies.get(
						'p' ~ constant('App\\Classes\\Container\\Params::SHOW_REBEL_REPORT'),
						default_parameters[constant('App\\Classes\\Container\\Params::SHOW_REBEL_REPORT')]
					) %}
					<a href="{{ path('switch_param', {'param': constant('App\\Classes\\Container\\Params::SHOW_REBEL_REPORT')}) }}"
					   class="hb lt {% if show_rebel_report %}active{% endif %}"
					   title="{{ show_rebel_report ? 'masquer' : 'afficher' }} les rapports contre des rebelles">
						R
					</a>
				</span>
				<span>
					<a href="{{ path('delete_all_combat_reports') }}" class="hb lt" title="supprimer tout les rapports">&#215;</a>
				</span>
			</div>

			{% if combat_reports|length > 0 %}
				<div class="set-item">

					{% for report in combat_reports %}
						{% set report_data = get_report_data(report) %}

						<twig:ReportListItem
							:href="path('fleet_archives', {'report': report.id})"
							picto="images/legacy/picto/Combat.svg"
							:isActive="app.request.query.get('report') == report.id"
							:placeName="report_data.title ~ ' de ' ~ (place.base.name ?? 'planète rebelle')"
							:createdAt="report.foughtAt"
							/>
					{% endfor %}
				</div>
			{% else %}
				<p>Il n'y a aucun rapport de combat dans vos archives militaires.</p>
			{% endif %}

			{% if app.request.query.get('mode') == 'archived' %}
				<a class="more-button" href="{{ path('fleet_archives') }}">Voir tous les rapports</a>
			{% else %}
				<a class="more-button" href="{{ path('fleet_archives', {'mode': 'archived'}) }}">Voir les archives des rapports</a>
			{% endif %}
		</div>
	</div>
</twig:LayoutBox>
