<div class="component report">
	<div class="head skin-1">
		<img src="{{ asset('build/media/avatar/medium/' ~ report_attacker.avatar ~ '.png') }}" alt="{{ report_attacker.name }}" />
		<h2>Attaquant</h2>
		<em>{{ report_attacker.name }}</em>
	</div>
	<div class="fix-body">
		<div class="body">
			{% if report.attacker.id == (report.winner.id ?? null) %}
				<div class="number-box">
					<span class="value">Victoire</span>
				</div>
				<hr />
				{% if report.attacker.id == current_player.id %}
					<div class="commander">
						<a href="{{ path('fleet_headquarters') }}">
							<img src="{{ asset('build/media/commander/medium/' ~ report.attackerCommander.avatar ~ '.png') }}" alt="{{ report.attackerCommander.name }}" />
						</a>
						{% set level = get_commander_level_up_from_report(report.attackerLevel, report.attackerCommanderExperience + report.earnedExperience) %}
						<em>
							{{ get_commander_rank(report.attackerLevel) }}
							{% if level > 0 %}
								<span class="bonus">a passé {{ level }} grade{{ level|plural }}</span>
							{% endif %}
						</em>
						<strong>{{ report.attacker.name }}</strong>
						<em>expérience : {{ report.attackerCommanderExperience|number }}
							 <span class="bonus">+ {{ report.earnedExperience|number }}</span>
						</em>
						<em>victoires : {{ report.attackerPalmares }} <span class="bonus">+ 1</span></em>
						<em>
							<span class="bonus">{{- report.resources|number -}}</span>
							ressource{{ report.resources|plural }} gagnée{{ report.resources|plural }}
						</em>
					</div>
				{% else %}
					<div class="commander">
						<img src="{{ asset('build/media/commander/medium/' ~ report.attackerCommander.avatar ~'.png') }}" alt="{{ report.attackerCommander.name }}" />
						<em>{{ get_commander_rank(report.attackerLevel) }}</em>
						<strong>{{ report.attackerCommander.name }}</strong>
						<em>expérience : ---</em>
						<em>victoire : ---</em>
						<em>&ensp;</em>
					</div>
				{% endif %}
			{% else %}
				<div class="number-box grey">
					<span class="value">Défaite</span>
					</div>
				<hr />
				<div class="commander">
					<img src="{{ asset('build/media/fleet/memorial.png') }}" alt="{{ report.defenderCommander.name ?? 'Rebelle' }}" />
					<em>{{ get_commander_rank(report.attackerLevel) }}</em>
					<strong>{{ report.attackerCommander.name }}</strong>
					{% if report.attacker.id == current_player.id %}
						<em>expérience : {{ report.attackerCommanderExperience|number }}</em>
						<em>victoire : {{ report.attackerPalmares }}</em>
						<em>&ensp;</em>
					{% else %}
						<em>expérience : ---</em>
						<em>victoire : ---</em>
						<em>&ensp;</em>
					{% endif %}
				</div>
			{% endif %}

			{{ include('molecules/fleet/combat_report_table.html.twig', {
				'total_in_begin': report.attackerTotalInBegin,
				'difference': report.attackerDifference,
				'total_at_end': report.attackerTotalAtEnd,
			}) }}
		</div>
	</div>
</div>

<div class="component report">
	<div class="head skin-1">
		{% if report_defender is null %}
			<img src="{{ asset('build/media/commander/medium/t1-c0.png') }}" alt="Rebelle" />
			<h2>Défenseur</h2>
			<em>Rebelle</em>
		{% else %}
			<img src="{{ asset('build/media/avatar/medium/' ~ report_defender.avatar ~ '.png') }}" alt="{{ report_defender.name }}" />
			<h2>Défenseur</h2>
			<em>{{ report_defender.name }}</em>
		{% endif %}
	</div>
	<div class="fix-body">
		<div class="body">
			{% if defender_report.defender.id ?? null == report.winner.id ?? null %}
				<div class="number-box">
					<span class="value">Victoire</span>
				</div>
				<hr />
				{% if report.defender.id ?? null == current_player.id %}
				<div class="commander">
					<a href="{{ path('fleet_headquarters') }}"><img src="{{ asset('build/media/commander/medium/' ~ report.defenderCommander.avatar ?? 't3-c4' ~ '.png') }}" alt="{{ report.defenderCommander.name ?? 'Rebelle' }}" /></a>
					{% set level = get_commander_level_up_from_report(report.defenderLevel, report.defenderCommanderExperience + report.earnedExperience) %}
					<em>{{ get_commander_rank(report.defenderLevel) }}
						{% if level > 0 %}
							<span class="bonus">a passé {{ level }} grade</span>
						{% endif %}
					</em>
					<strong>{{ report.defenderCommander.name ?? 'Rebelle' }}</strong>
					<em>
						expérience : {{- report.defenderCommanderExperience|number -}}
						<span class="bonus">+ {{ report.earnedExperience|number }}</span>
					</em>
					<em>victoire : {{ report.defenderPalmares }} <span class="bonus">+ 1</span></em>
					<em>&ensp;</em>
					</div>
				{% else %}
					<div class="commander">
						<em>{{ get_commander_rank(report.defenderLevel) }}</em>
						{% if report.defender is null %}
							<img src="{{ asset('build/media/commander/medium/t1-c0.png') }}" alt="Rebelle" />
							<strong>Rebelle</strong>
						{% else %}
							<img src="{{ asset('build/media/commander/medium/' ~ report.defenderCommander.avatar ~ '.png') }}" alt="{{ report.defenderCommander.name }}" />
							<strong>{{ report.defenderCommander.name }}</strong>
						{% endif %}
						<em>expérience : ---</em>
						<em>victoire : ---</em>
						<em>&ensp;</em>
					</div>
				{% endif %}
			{% else %}
				<div class="number-box grey">
					<span class="value">Défaite</span>
					</div>
				<hr />
				{% if report.defender.id ?? null == current_player.id %}
					<div class="commander">
						<img src="{{ asset('build/media/fleet/memorial.png') }}" alt="{{ report.defenderCommander.name }}" />
						<em>{{ get_commander_rank(report.defenderLevel) }}</em>
						<strong>{{ report.defenderCommander.name }}</strong>
						<em>expérience : {{ report.defenderCommanderExperience|number }}</em>
						<em>victoire : {{ report.defenderPalmares }}</em>
						<em>&ensp;</em>
					</div>
				{% else %}
					<div class="commander">
						<img src="{{ asset('build/media/fleet/memorial.png') }}" alt="{{ report.defenderCommander.name ?? 'Rebelle' }}" />
						<em>{{ get_commander_rank(report.defenderLevel) }}</em>
						{% if report.defender is null %}
							<strong>Rebelle</strong>
						{% else %}
							<strong>{{ report.defenderCommander.name }}</strong>
						{% endif %}
						<em>expérience : ---</em>
						<em>victoire : ---</em>
						<em>&ensp;</em>
					</div>
				{% endif %}
			{% endif %}

			{# @TODO check if this block is useful #}
			{# if ($report->type == Commander::LOOT) {
			<div class="dammage">
				<table>
					<tr>
						{% if report.rPlayerAttacker != report.rPlayerWinner %}
							{% if report.resources == 0 %}
								<td>Aucune ressource perdue</td>
							{% else %}
								<td>{{ report.resources|number }} ressources perdues</td>
							{% endif %}
						{% else %}
							<td></td>
						{% endif %}
					</tr>
				</table>
			</div>
			}#}

			{{ include('molecules/fleet/combat_report_table.html.twig', {
				'total_in_begin': report.defenderTotalInBegin,
				'difference': report.defenderDifference,
				'total_at_end': report.defenderTotalAtEnd,
			}) }}
		</div>
	</div>
</div>
