<twig:LayoutBox class="col-span-3">
	<header class="flex justify-between items-start">
		<div class="">
			{# @TODO move the default NPC avatar to a constant #}
			<!--		<img src="{{ asset('build/media/' ~ (spy_report.targetPlayer is null ? 'commander/big/t1-c0' : ('avatar/medium/' ~ (spy_report.targetPlayer.avatar ?? 't3-c4'))) ~ '.png') }}" alt="'{{ spy_report.targetPlayer.name ?? 'Rebelle' }}" />-->
			<h2 class="text-lg" style="font-variant: all-small-caps">
				{{ spy_report.placeName }}
			</h2>
			<em>{{ (spy_report.targetPlayer.name ?? 'Rebelle')|raw }}</em>
		</div>

		<div class="flex w-fit bg-medium{{ spy_report.player.faction.identifier }} rounded-md divide-x divide-gray-900 border-2 border-gray-700 text-sm">
					<span class="px-4 py-1">
						Opération de {{ spy_report.price|number }}
<!--						<img class="icon-color" src="{{ asset('build/media/resources/credit.png') }}" alt="crédits">-->
					</span>
			<span class="px-4 py-1">
						{% if spy_report.isNotCaught %}
							L'ennemi ne sait rien
						{% elseif spy_report.isAnonymouslyCaught %}
							L'ennemi ne vous soupçonne pas
						{% elseif spy_report.isCaught %}
							L'ennemi vous a vu
						{% endif %}
					</span>
			<span class="px-4 py-1">{{ spy_report.successRate }} % de réussite de l'espionnage</span>
			<a href="{{ path('delete_spy_report', {'id': spy_report.id}) }}" class="px-4 py-1 bg-medium{{ spy_report.player.faction.identifier }} hover:bg-dark{{ spy_report.player.faction.identifier }} transition-[background-color] ease-in duration-200" title="supprimer le rapport">
				&#215;
			</a>
		</div>
	</header>

	<section id="data" class="mt-4">
		<h3 class="font-bold mb-2">Informations</h3>

		<div class="flex justify-between">
			<div class="stellar">
				<div class="info top">
					{{ get_base_type_info(spy_report.place.typeOfPlace, 'name') }}<br />
					{% if spy_report.hasSpottedPoints %}
						{{ spy_report.points|number }}
					{% else %}
						???
					{% endif %}
					points
				</div>
				<div class="info middle">
					coordonnées
					<strong>
						<a href="{{ path('map', {'place': spy_report.id }) }}">
							{{- spy_report|spy_report_coords -}}
						</a>
					</strong>
				</div>
				<!--					<img src="{{ asset('build/media/orbitalbase/place1-' ~ get_place_demography(place) ~ '.png') }}" alt="planète" />-->

			</div>

			<div class="situation-info">
				<div class="item">
					Ressources dans les entrepôts
					<span class="value">
					{% if spy_report.hasSpottedResourcesStorage %}
						{{- spy_report.resources -}}
					{% else %}
						???
					{% endif %}
<!--						<img class="icon-color" src="{{ asset('build/media/resources/resource.png') }}" alt="ressources">-->
				</span>
				</div>

				<div class="item">
					Investissement dans le contre-espionnage
					<span class="value">
					{% if spy_report.hasSpottedAntiSpy %}
						{{- spy_report.antiSpyInvest -}}
					{% else %}
						???
					{% endif %}
<!--						<img class="icon-color" src="{{ asset('build/media/resources/credit.png') }}" alt="crédits">-->
				</span>
				</div>

				<div class="item">
					Revenus des routes commerciales
					<span class="value">
					{% if spy_report.hasSpottedCommercialRoutesIncome %}
						{{- spy_report.commercialRouteIncome -}}
					{% else %}
						???
					{% endif %}
<!--					 	<img class="icon-color" src="{{ asset('build/media/resources/credit.png') }}" alt="crédits">-->
				</span>
				</div>
			</div>

			<div>
				<strong>{{ (place.population * 1000000)|number }}</strong> habitants<br />
				<strong>{{ place.coefResources }}</strong> % coeff. ressource<br />
				<strong>{{ get_place_technosphere_improvement_coeff(place) }}</strong> % de bonus scientifique
			</div>
		</div>
	</section>

	<section id="commanders" class="mt-4">
		<div class="situation-content color{{ spy_report.placeFaction.identifier ?? 0 }} place1">
<!--				<span class="line-help line-1">I</span>
			<span class="line-help line-2">II</span>-->

			{% set orbital_base_type = spy_report.place.base.type ?? constant('App\\Modules\\Athena\\Model\\OrbitalBase::TYP_NEUTRAL') %}

			{% set commanders = spy_report.commanders %}

			{% if spy_report.hasSpottedFleets and commanders|length > 0 %}
				<h3 class="font-bold mb-2">Commandants en orbite</h3>
			{% endif %}

			{% if spy_report.hasSpottedFleets %}
				{% for commander in commanders %}
					<twig:FleetSpyReport :spyReport="spy_report"
										 :commander="commander"
										 :army="spy_report.hasSpottedArmies ? commander.army : range(0, 11)|map(v => -1)" />
				{% endfor %}
			{% endif %}

			{% if spy_report.place.typeOfPlace is not constant('App\\Modules\\Gaia\\Model\\Place::TYP_EMPTY') %}
				<twig:FleetSpyReport :spyReport="spy_report" :army="(spy_report.hasSpottedDocks ? spy_report.getShipStorage() : range(0, 11)|map(v => -1))" />
			{% endif %}
		</div>
	</section>

	<footer class="flex justify-center mt-8">
		<twig:Button class="attack-link" :faction="spy_report.placeFaction">
			<a href="{{ path('map', {'place': spy_report.place.id}) }}">Attaquer la planète</a>
		</twig:Button>
	</footer>
</twig:LayoutBox>
