<div id="subnav">
	<button class="move-side-bar top" data-dir="up"></button>
	<div class="overflow">
		<a href="{{ path('financial_investments') }}" class="item {% if app.request.get('_route') == 'financial_investments' %}active{% endif %}">
			<span class="picto">
				<img src="{{ asset('build/media/financial/invest.png') }}" alt="" />
			</span>
			<span class="content skin-1">
				<span>Investissement</span>
			</span>
		</a>

		<a href="{{ path('financial_transfers') }}" class="item {% if app.request.get('_route') == 'financial_transfers' %}active{% endif %}">
			<span class="picto">
				<img src="{{ asset('build/media/financial/send-credit.png') }}" alt="" />
			</span>
			<span class="content skin-1">
				<span>Envoi de crédit</span>
			</span>
		</a>

		<a href="{{ path('financial_reports') }}" class="item {% if app.request.get('_route') == 'financial_reports' %}active{% endif %}">
			<span class="picto">
				<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6 w-full h-full">
					<path stroke-linecap="round" stroke-linejoin="round" d="M10.5 6a7.5 7.5 0 1 0 7.5 7.5h-7.5V6Z" />
					<path stroke-linecap="round" stroke-linejoin="round" d="M13.5 10.5H21A7.5 7.5 0 0 0 13.5 3v7.5Z" />
				</svg>
			</span>
			<span class="content skin-1">
				<span>Rapports financiers</span>
			</span>
		</a>
	</div>
	<button class="move-side-bar bottom" data-dir="down"></button>
</div>
