{% set statuses = get_faction_info(faction.identifier, 'status') %}

<div class="flex flex-col gap-y-4">
	{% for type in players_by_type|keys %}
		{% set players = players_by_type[type] %}
		<section>
			<twig:H3>{{ type }}</twig:H3>

			{% if players|length == 0 %}
				<p>aucun joueur</p>
			{% endif %}

			<div class="flex mt-4">
				{% for player in players %}
					<div class="flex items-center gap-x-2 bg-gray-800 w-64 p-2 rounded-md shadow-md">
						<a href="{{ path('embassy', {'player': player.id}) }}">
							<twig:Avatar :player="player" class="max-w-14 max-h-14" />
						</a>

						<div class="grow">
							<span class="text-sm">{{ statuses[player.status - 1] }}</span><br>
							<strong class="name">{{ player.name }}</strong><br>
							<span class="text-xs">{{ player.factionPoint|number }} points</span>
						</div>

						{% if is_player_online(player) %}
							<div class="w-3 h-3 self-start rounded-full bg-light{{ faction.identifier }}" title="est en ligne actuellement"></div>
						{% elseif is_player_inactive(player) %}
							<div class="w-3 h-3 self-start rounded-full bg-gray-500" title="ne s'est plus connecté depuis une semaine"></div>
						{% endif %}
					</div>
				{% endfor %}
			</div>
		</section>
	{% endfor %}
</div>
