<div id="commander-sales-form" class="component market-sell">
	<header>
		{#<img src="{{ asset('build/media/orbitalbase/school.png') }}" alt="commandants" class="main" />#}
		<twig:H2>Commandants</twig:H2>
		<twig:H5>mettre en vente</twig:H5>
	</header>

	<section class="mt-4 flex flex-col gap-y-2">
		{% for commander in this.commanders %}
			{% set min_price = get_min_price(
				constant('App\\Modules\\Athena\\Model\\Transaction::TYP_COMMANDER'),
				commander.experience
			) %}
			<div id="sell-commander-{{ commander.id }}" class="bg-gray-800 p-2 rounded-md border border-medium{{ current_player.faction.identifier }}">
				<details name="commander-sales-form">
					<summary class="cursor-pointer">
						{#<img class="picto" src="{{ asset('build/media/commander/small/' ~ commander.avatar ~ '.png') }}" alt="" />#}
						<strong>{{ commander|commander_rank }} {{ commander.name }}</strong><br>
						<em class="text-xs">{{ commander.experience|number }} points d'expérience</em>
					</summary>

					<form method="post"
						  action="{{ path('propose_offer', { 'type': constant('App\\Modules\\Athena\\Model\\Transaction::TYP_COMMANDER'), 'identifier': commander.id }) }}">
						<div class="label-box">
							<span class="label">Prix minimum</span>
							<span class="value">
						{{ min_price }}
					</span>
							{#<img class="icon-color" alt="crédits" src="{{ asset('build/media/resources/credit.png') }}">#}
						</div>

						<div class="label-box">
							<label for="sell-market-price-commander" class="label">Prix</label>
							<twig:Input id="sell-market-price-commander" class="value" type="number" name="price" :value="this.getCommanderPrice(commander)" autocomplete="off" :min="min_price"/>
							{#<img class="icon-color" alt="crédits" src="{{ asset('build/media/resources/credit.png') }}">#}
						</div>

						<div class="label-box">
							<span class="label">Vaisseaux</span>
							<span class="value">1</span>
							{#<img class="icon-color" alt="vaisseaux transports" src="{{ asset('build/media/resources/transport.png') }}">#}
						</div>

						<hr />

						<input type="hidden" value="{{ commander.experience }}" name="quantity" />

						<twig:Button :faction="current_player.faction" type="submit" class="w-full text-center">
							Vendre
						</twig:Button>
					</form>
				</details>
			</div>
		{% endfor %}

		{% if this.commanders|length == 0 %}
			<em class="text-sm">Vous n\'avez aucun commandant dans l\'école.</em>
		{% endif %}
	</section>
</div>
