{% apply spaceless %}
	<twig:LayoutBox class="md:col-span-2 row-span-2">
		<header class="flex justify-between">
			<h1 class="font-bold text-xl">Finance</h1>

			<twig:Tooltip>
				Ces deux colonnes sont un résumé de vos recettes et de vos dépenses pendant la durée d’une relève. Dans la
				colonne des recettes vous pouvez voir tous les éléments qui vous rapportent des crédits dans Asylamba. Dans la colonne des dépenses,
				c’est l’inverse, vous voyez les éléments qui vous coûtent sur vos bases. La différence entre ces deux colonnes vous donne soit une
				perte (sous la colonne des recettes) soit un bénéfice (sous la colonne des dépenses).
			</twig:Tooltip>
		</header>

		<section class="mt-2 flex justify-between">
			<div class="grow">
				<h4 class="font-bold text-lg">recettes</h4>

				<div>
					<twig:NumberBox label="impôts" :bonus="investments_data.totalTaxInBonus" size="small">
						{{- investments_data.totalTaxIn|number -}}
					</twig:NumberBox>

					<twig:NumberBox label="taxes commerciales" :bonus="investments_data.totalRouteIncomeBonus" size="small">
						{{- investments_data.totalRouteIncome|number -}}
					</twig:NumberBox>

					<twig:NumberBox label="total des recettes" size="small">
						{{- investments_data.total_income|number -}}
					</twig:NumberBox>

					{% if investments_data.gains < 0 %}
						<twig:NumberBox label="perte" size="small">
							{{- investments_data.gains|abs|number -}}
						</twig:NumberBox>
					{% endif %}
				</div>
			</div>

			<div class="basis-1/2">
				<h4 class="font-bold text-lg">dépenses</h4>
				<div>
					<twig:NumberBox label="investissements planétaires" size="small">
						{{- investments_data.totalInvest|number -}}
					</twig:NumberBox>

					<twig:NumberBox label="investissements universitaires" size="small">
						<span class="buttons">
							<a href="#" class="sh" data-target="invest-uni">↓</a>
						</span>
						<span class="label"></span>
						<span class="value">
							{{- investments_data.totalInvestUni|number -}}
						</span>

						<form action="{{ path('update_university_investments') }}" method="POST" id="invest-uni" class="flex">
							<input type="text" name="credit" value="{{ investments_data.totalInvestUni }}" class="w-48" />
							<button type="submit">
								ok
							</button>
						</form>
					</twig:NumberBox>

					<twig:NumberBox label="salaire des commandants" size="small">
						{{- investments_data.totalFleetFees|number -}}
					</twig:NumberBox>
					<twig:NumberBox label="entretien des vaisseaux" size="small">
						{{- investments_data.totalShipsFees|number -}}
					</twig:NumberBox>
					<twig:NumberBox label="redevances aux factions" size="small">
						{{- investments_data.totalTaxOut|number -}}
					</twig:NumberBox>
					<twig:NumberBox label="total des charges" size="small">
						{{- investments_data.total_expenses|number -}}
					</twig:NumberBox>
					{% if investments_data.gains >= 0 %}
						<twig:NumberBox label="bénéfice" size="small">
							{{- investments_data.gains|number -}}
						</twig:NumberBox>
					{% endif %}
				</div>
			</div>
		</section>

		<section class="mt-2">
			<h4 class="font-bold text-lg">évolution des finances</h4>
			<div class="flex">
				<twig:NumberBox label="crédits en possession" size="small">
					{{- current_player.credit|number -}}
				</twig:NumberBox>
				<twig:NumberBox label="bénéfice" size="small">
					{{- investments_data.gains|number -}}
				</twig:NumberBox>
				<twig:NumberBox label="prévision à la prochaine relève" size="small">
					{{- investments_data.remains|number -}}
				</twig:NumberBox>
			</div>
		</section>
	</twig:LayoutBox>
{% endapply %}
