{% apply spaceless %}
	<twig:LayoutBox>
		<header class="flex items-start justify-between">
			<div>
				<h3 class="font-bold text-lg">Impôts</h3>
				<em class="text-sm">Imposition par planète</em>
			</div>

			<twig:Tooltip>
				Les impôts sont les crédits que vous récoltez auprès de la population de vos planètes. Plus vos planètes sont
				grosses en terme de population, plus vous collecterez d’impôts. Ils peuvent être augmentés grâce à la technologie « Economie Sociale de
				Marché », ce qui vous permettra d’améliorer vos recettes.
			</twig:Tooltip>
		</header>

		<section class="mt-4">
			<ul class="list-type-1">
				{% for base in player_bases %}
					{% set base_data = bases_data[base.id.toRfc4122()] %}
					{% set base_tax_income = base_data.tax_income %}
					{% set base_tax_income_bonus = base_data.tax_income_bonus %}
					<li>
						<span class="label">{{ base.name }} [{{ base.place.population|number }} Mio hab.]</span>
						<span class="value">
							{{- base_tax_income|number -}}
							{% if base_tax_income_bonus > 0 %}
								<span class="bonus">+{{ base_tax_income_bonus|number }}</span>
							{% endif %}
							<img class="icon-color" src="{{ asset('build/media/resources/credit.png') }}" alt="crédits" />
						</span>
					</li>
				{% endfor %}

				<li class="strong">
					<span class="label">total de l'imposition</span>
					<span class="value">
						{{- investments_data.totalTaxIn|number -}}
						{% if investments_data.totalTaxInBonus > 0 %}
							<span class="bonus">+{{ investments_data.totalTaxInBonus|number }}</span>
						{% endif %}
						<img class="icon-color" src="{{ asset('build/media/resources/credit.png') }}" alt="crédits" />
					</span>
				</li>
			</ul>
		</section>
	</twig:LayoutBox>
{% endapply %}
