<div class="component nav">
	<div class="head skin-1">
		<h1>Forum</h1>
	</div>
	<div class="fix-body">
		<div class="body">
			<a href="{{ path('faction_forum') }}" class="more-button">Revenir aux forums</a>

			{% for forumId in forum_ids %}
				{% set activeClass = (not app.request.attributes.has('forumId') and 1 == forumId) or forumId == app.request.attributes.get('forumId') ? 'active' : '' %}
				<a href="{{ path('faction_forum', { forumId }) }}" class="nav-element {{ activeClass }}">
					<img src="{{ asset('build/media/orbitalbase/situation.png') }}" alt="" />
					<strong>{{ get_forum_info(forumId, 'name') }}</strong>
					<em>{{ get_forum_info(forumId, 'shortDescription') }}</em>
				</a>
			{% endfor %}
		</div>
	</div>
</div>
