<div class="component report topic nav">
	{% if display_standard_topics is same as(true) %}
		<div class="head"></div>
	{% elseif 1 == forumId %}
		<div class="head skin-1">
			<h1>Forum</h1>
		</div>
	{% else %}
		<div class="head"></div>
	{% endif %}
	<div class="fix-body">
		<div class="body">
			{% if display_standard_topics is same as(false) %}
				<a href="{{ path('faction_forum', { forumId }) }}" class="nav-element">
					<img src="{{ asset('build/media/orbitalbase/situation.png') }}" alt="" />
					<strong>
						{{- get_forum_info(forumId, 'name') -}}
					</strong>
					<em>
						{{- get_forum_info(forumId, 'shortDescription') -}}
					</em>
				</a>
			{% endif %}

			{% if is_archived is same as (true) %}
				<a class="more-button" href="{{ path('faction_forum', { forumId }) }}">Revenir aux sujets</a>
			{% endif %}

			<div class="set-item">
				{% if is_archived is same as (false) %}
					<a class="item" href="{{ path('faction_forum', { forumId, 'mode': 'create'}) }}">
						<div class="left">
							<span>+</span>
						</div>

						<div class="center">
							Créer un nouveau sujet
						</div>
					</a>
				{% endif %}

				{% for topic_with_last_view in topics_with_last_views %}
					{% set topic = topic_with_last_view.topic %}
					{% set last_view = topic_with_last_view.last_view %}

					{% if topic.id.equals(app.request.attributes.get('topicId')) %}
						{% set is_new = '' %}
					{% elseif last_view is null or last_view.viewedAt < topic.lastContributedAt %}
						{% set is_new = 'round-color' ~ current_player.faction.identifier %}
					{% else %}
						{% set is_new = '' %}
					{% endif %}

					<div class="item">
						<div class="left">
							<span class="{{ is_new }}">{{ topic.messagesCount }}</span>
						</div>

						<div class="center">
							{% if topic.isClosed %}
								&#128274;
							{% elseif topic.isUp %}
								&#9733;
							{% endif %}
							{{ topic.title }}
						</div>

						<div class="right">
							<a class="{{ topic.id == app.request.attributes.get('topicId') ? 'active' : null }}"
							   href="{{ path('view_forum_topic', { forumId: topic.forum, topicId: topic.id, mode: is_archived ? 'archived' : null}) }}"></a>
						</div>
					</div>
				{% endfor %}
			</div>

			{% if topics_with_last_views|length == 0 %}
				<p>Aucun sujet n'a encore été créé dans cette section du forum.</p>
			{% endif %}

			{% if display_standard_topics is same as(true) and is_archived is same as (false) and current_player.isGovernmentMember is same as(true) %}
				<a class="more-button" href="'.$appRoot.'faction/view-forum/forum-'.$forum_topics.'/mode-archived">Voir les messages archivés</a>
			{% endif %}
		</div>

	</div>
</div>
