<div class="build-item {% if not building_data.real_level %}disable{% endif %}">
	<div class="name">
		<img src="{{ asset('media/orbitalbase/' ~ get_building_info(building_number, 'imageLink') ~ '.png') }}" alt="" />
		<strong>{{ get_building_info(building_number, 'frenchName') }}</strong>
		{% if building_data.level > 0 %}
			<span class="level hb lt" title="niveau actuel">{{ building_data.level }}</span>
		{% endif %}
		<a href="#" class="addInfoPanel info hb lt"
		   title="plus d\'info"
		   data-building-id="{{ building_number }}"
		   data-info-type="building"
		   data-building-current-level="{{ building_data.level }}">+</a>
	</div>
	{% set price %}
		{{ get_building_info(building_number, 'level', (building_data.next_level), 'resourcePrice')|number(-1) }}
		<img src="{{ asset('media/resources/resource.png') }}" alt="ressources" class="icon-color" />
	{% endset %}
	{% set time %}
		{{ get_building_info(building_number, 'level', (building_data.next_level), 'time')|lite_seconds }}
		<img src="{{ asset('media/resources/time.png') }}" alt="relèves" class="icon-color" />
	{% endset %}

	{% if building_data.building_requirements is not same as(true) %}
		{% if 'niveau maximum atteint' == building_data.building_requirements %}
			<span class="button disable">
				<span class="text">
					construction impossible<br/>
					niveau maximum atteint
				</span>
			</span>
		{% else %}
			<span class="button disable hb lt" title="{{ building_data.building_requirements }}">
				<span class="text">
					construction impossible<br/>
					{{ price }} | {{ time }}
				</span>
			</span>
		{% endif %}
	{% elseif building_data.technology_requirements is not same as(true) %}
		<span class="button disable hb lt" title="{{ building_data.technology_requirements }}">
			<span class="text">
				construction impossible<br/>
				{{ price }} | {{ time }}
			</span>
		</span>
	{% elseif true != building_data.queue_requirements %}
		<span class="button disable hb lt" title="file de construction pleine, revenez dans un moment">
			<span class="text">
				construction impossible<br/>
				{{ price }} | {{ time }}
			</span>
		</span>
	{% elseif true != building_data.resources_requirements %}
		{% set missing_resources = get_building_info(building_number, 'level', (building_data.next_level), 'resourcePrice') - current_base.resourcesStorage %}
		<span class="button disable hb lt" title="pas assez de ressources, il manque {{ missing_resources|number }} ressource{{ missing_resources|plural }}">
			<span class="text">
				construction impossible<br/>
				{{ price }} | {{ time }}
			</span>
		</span>
	{% else %}
		<a class="button" href="{{ path('build', { 'identifier': building_number }) }}">
			<span class="text">
				augmenter vers le niveau {{ building_data.next_level }}<br/>
				{{ price }} | {{ time }}
			</span>
		</a>
	{% endif %}
</div>

