<div class="build-item {% if not building_data.real_level %}disable{% endif %}">
	<div class="name">
		<img src="{{ asset('build/media/orbitalbase/' ~ get_building_info(building_number, 'imageLink') ~ '.png') }}" alt="" />
		<strong class="leading-none">{{ get_building_info(building_number, 'frenchName') }}</strong>
		{% if building_data.level > 0 %}
			<span class="level hb lt" title="niveau actuel">{{ building_data.level }}</span>
		{% endif %}
		<a href="#" class="addInfoPanel info hb lt"
		   title="plus d'info"
		   data-building-id="{{ building_number }}"
		   data-info-type="building"
		   data-building-current-level="{{ building_data.level }}">+</a>
	</div>
	{% set price %}
		{{ get_building_info(building_number, 'level', (building_data.next_level), 'resourcePrice')|number(-1) }}
		<img src="{{ asset('build/media/resources/resource.png') }}" alt="ressources" class="icon-color" />
	{% endset %}
	{% set time %}
		{{ get_building_info(building_number, 'level', (building_data.next_level), 'time')|lite_seconds }}
		<img src="{{ asset('build/media/resources/time.png') }}" alt="relèves" class="icon-color" />
	{% endset %}

	{% if 0 < building_data.building_requirements|length %}
		<div class="button disable hb lt p-2 my-5" title="{{ building_data.building_requirements|map(v => v.message)|join(', ') }}">
			<div class="text">
				<div class="faction-text-color mb-2">construction impossible</div>
				<div class="inline-flex items-center gap-2">
					<span class="inline-flex items-center gap-2">{{ price }}</span>
					<span>|</span>
					<span class="inline-flex items-center gap-2">{{ time }}</span>
				</div>
			</div>
		</div>
	{% else %}
		<a class="button p-2 my-5" href="{{ path('build', { 'identifier': building_number }) }}">
			<span class="text">
				<div class="mb-2">augmenter vers le niveau {{ building_data.next_level }}</div>
				<div class="inline-flex items-center gap-2">
					<span class="inline-flex items-center gap-2">{{ price }}</span>
					<span>|</span>
					<span class="inline-flex items-center gap-2">{{ time }}</span>
				</div>
			</span>
		</a>
	{% endif %}
</div>

