{% set has_incoming = commercial_shippings['incoming'][constant('App\\Modules\\Athena\\Model\\CommercialShipping::ST_GOING')]|length > 0 %}

<div {{ turbo_stream_listen('/trade-offers') }} class="grid {% if has_incoming %}grid-cols-4 col-span-4{% else %}grid-cols-3 col-span-3{% endif %} gap-x-4">
	{% if has_incoming %}
		<div class="">
			<header>
				<twig:H2>Aperçu des achats</twig:H2>
			</header>

			<section>
				<twig:H4>Convoi en approche</twig:H4>
				{% for commercial_shipping in commercial_shippings['incoming'][constant('App\\Modules\\Athena\\Model\\CommercialShipping::ST_GOING')] %}
					{{ include('molecules/base/trade/commercial_shipping.html.twig', { commercial_shipping }) }}
				{% endfor %}
			</section>
		</div>
	{% endif %}

	<div class="">
		<header>
			{#<img src="{{ asset('build/media/resources/resource.png') }}" alt="ressource" class="main" />#}
			<twig:H2>Ressources</twig:H2>
			<twig:H5>cours actuel | 1:{{ resources_current_rate|number(3) }}</twig:H5>
		</header>

		<section class="mt-4">
			{#<div class="tool sort-button">
				<span>trier par</span>
				<span><a href="#" data-sort-type="quantity" data-sort-direction="up" class="hb lt" title="quantité de ressources"><img src="{{ asset('build/media/resources/resource.png') }}" class="icon-color" alt="ressources" /></a></span>
				<span><a href="#" data-sort-type="price" data-sort-direction="down" class="hb lt" title="prix"><img src="{{ asset('build/media/resources/credit.png') }}" class="icon-color" alt="crédit" /></a></span>
				<span><a href="#" data-sort-type="far" data-sort-direction="down" class="hb lt" title="temps de trajet"><img src="{{ asset('build/media/resources/time.png') }}" class="icon-color" alt="temps" /></a></span>
				<span><a href="#" data-sort-type="cr" data-sort-direction="down" class="hb lt" title="cours de la marchandise"><img src="{{ asset('build/media/resources/rate.png') }}" class="icon-color" alt="cours" /></a></span>
			</div>#}

			<div id="resources-transactions" class="sort-content flex flex-col gap-y-2">
				{% for transaction in resource_transactions %}
					{% if current_player.id != transaction.player.id %}
						{{ include('components/base/trade/transaction.html.twig', { transaction, 'current_rate': resources_current_rate }) }}
					{% endif %}
				{% endfor %}
				</div>
			</section>
		</div>


	<div class="">
		<header>
			{#<img src="{{ asset('build/media/orbitalbase/school.png') }}" alt="commandants" class="main" />#}
			<twig:H2>Commandants</twig:H2>
			<twig:H5>cours actuel | 1:{{ commander_current_rate|number(3) }}</twig:H5>
		</header>

		<section class="mt-4">
			{#<div class="tool sort-button">
				<span>trier par</span>
				<span><a href="#" data-sort-type="xp" data-sort-direction="up" class="hb lt" title="expérience du commandant"><img src="{{ asset('build/media/resources/xp.png') }}" class="icon-color" alt="experience" /></a></span>
				<span><a href="#" data-sort-type="price" data-sort-direction="down" class="hb lt" title="prix"><img src="{{ asset('build/media/resources/credit.png') }}" class="icon-color" alt="crédit" /></a></span>
				<span><a href="#" data-sort-type="far" data-sort-direction="down" class="hb lt" title="temps de trajet"><img src="{{ asset('build/media/resources/time.png') }}" class="icon-color" alt="temps" /></a></span>
				<span><a href="#" data-sort-type="cr" data-sort-direction="down" class="hb lt" title="cours de la marchandise"><img src="{{ asset('build/media/resources/rate.png') }}" class="icon-color" alt="cours" /></a></span>
			</div>#}

			<div id="commander-transactions" class="sort-content flex flex-col gap-y-2">
				{% for transaction in commander_transactions %}
					{% if current_player.id != transaction.player.id %}
						{{ include('components/base/trade/transaction.html.twig', { transaction, 'current_rate': commander_current_rate }) }}
					{% endif %}
				{% endfor %}
			</div>
		</section>
	</div>


	<div class="min-w-80">
		<header>
			{#<img src="{{ asset('build/media/orbitalbase/dock2.png') }}" alt="vaisseaux" class="main" />#}
			<twig:H2>Vaisseaux</twig:H2>
			<twig:H5>cours actuel | 1:{{ ship_current_rate|number(3) }}</twig:H5>
		</header>

		<section class="mt-4">
			<div class="body">
				{#<div class="tool sort-button">
					<span>trier par</span>
					<span><a href="#" data-sort-type="quantity" data-sort-direction="up" class="hb lt" title="nombre de vaisseaux"><img src="{{ asset('build/media/resources/pev.png') }}" class="icon-color" alt="pev" /></a></span>
					<span><a href="#" data-sort-type="price" data-sort-direction="down" class="hb lt" title="prix"><img src="{{ asset('build/media/resources/credit.png') }}" class="icon-color" alt="crédit" /></a></span>
					<span><a href="#" data-sort-type="far" data-sort-direction="down" class="hb lt" title="temps de trajet"><img src="{{ asset('build/media/resources/time.png') }}" class="icon-color" alt="temps" /></a></span>
					<span><a href="#" data-sort-type="cr" data-sort-direction="down" class="hb lt" title="cours de la marchandise"><img src="{{ asset('build/media/resources/rate.png') }}" class="icon-color" alt="cours" /></a></span>
				</div>#}

				<div id="ship-transactions" class="sort-content">
					{% for transaction in ship_transactions %}
						{% if current_player.id != transaction.player.id %}
							{{ include('components/base/trade/transaction.html.twig', { transaction, 'current_rate': ship_current_rate }) }}
						{% endif %}
					{% endfor %}
					</div>
				</div>
			</section>
		</div>
</div>
