<div class="col-span-2 flex gap-x-4">
	<div class="component new-message market-sell">
		<header>
			{#<img src="{{ asset('build/media/resources/resource.png') }}" alt="ressource" class="main" />#}
			<twig:H2>Envoi de ressources</twig:H2>
			<twig:H5>à une autre base</twig:H5>
		</header>

		<section>
			<form action="{{ path('give_resources') }}" method="post">
				<p><label for="send-resources-target">Base destinataire</label></p>
				<input class="autocomplete-hidden" type="hidden" name="baseId" />
				<p class="input input-text"><input type="text" id="send-resources-target" class="autocomplete-orbitalbase" name="name" autocomplete="off" /></p>

				<div class="sell-form"
					 data-shipcom-size="{{ constant('App\\Modules\\Athena\\Model\\CommercialShipping::WEDGE') }}"
					 data-resource-rate="1"
					 data-max-quantity="{{ current_base.resourcesStorage }}"
					 data-rate="0"
					 data-min-price="0"
				>
					<div class="label-box">
						<span class="label">Ressources</span>
						<span class="value">{{ current_base.resourcesStorage|number }}</span>
						{#<img class="icon-color" alt="ressources" src="{{ asset('build/media/resources/resource.png') }}">#}
					</div>

					<div class="label-box sf-quantity">
						<label for="send-resources-quantity" class="label">Quantité</label>
						<twig:Input id="send-resources-quantity" class="value" type="text" name="quantity" autocomplete="off" />
						{#<img class="icon-color" alt="ressources" src="{{ asset('build/media/resources/resource.png') }}">#}
					</div>

					<hr class="my-2" />

					<div class="label-box sf-comship">
						<span class="label">Vaisseaux</span>
						<span class="value"></span>
						{#<img class="icon-color" alt="vaisseaux transports" src="{{ asset('build/media/resources/transport.png') }}">#}
					</div>

					<hr class="my-2" />

					<twig:Button :faction="current_player.faction" type="submit">
						Envoyer
					</twig:Button>
				</div>
			</form>
		</section>
	</div>

	<div class="component new-message market-sell">
		<header>
			{#<img src="{{ asset('build/media/orbitalbase/dock2.png') }}" alt="vaisseaux" class="main" />#}
			<twig:H2>Envoi de vaisseaux</twig:H2>
			<twig:H5>à une autre base</twig:H5>
		</header>

		<section>
			<form action="{{ path('give_ships') }}" method="post">
				<p><label for="send-ships-target">Base destinataire</label></p>
				<input class="autocomplete-hidden" type="hidden" name="baseId" />
				<p class="input input-text">
					<twig:Input type="text" id="send-ships-target" class="autocomplete-orbitalbase" name="name" autocomplete="off" />
				</p>

				{% for ship_number in current_base.shipStorage|keys %}
					{% set ship_quantity = current_base.shipStorage[ship_number] %}
					{% if ship_quantity > 0 %}
						<div class="queue sh" data-target="sell-ships-{{ ship_number }}">
							<div class="item">
								{#<img class="picto" src="{{ asset('build/media/ship/picto/ship' ~ ship_number ~ '.png') }}" alt="" />#}
								<strong>{{ get_ship_info(ship_number, 'codeName') }}</strong>
								<em>{{ get_ship_info(ship_number, 'name') }}</em>
								<em>{{ get_ship_info(ship_number, 'pev') }} pev</em>
							</div>
						</div>

						<div id="sell-ships-{{ ship_number }}"
							 class="sell-form"
							 data-shipcom-size="{{ constant('App\\Modules\\Athena\\Model\\CommercialShipping::WEDGE') }}"
							 data-resource-rate="{{ get_ship_info(ship_number, 'pev') * 1000 }}"
							 data-max-quantity="{{ ship_quantity }}"
							 data-rate="1"
							 data-min-price="1"
							 style="display:none;"
						>
							<div class="label-box">
								<span class="label">Quantité max.</span>
								<span class="value">{{ ship_quantity }}</span>
							</div>

							<div class="label-box sf-quantity">
								<label for="sell-market-quantity-ship" class="label">Quantité</label>
								<twig:Input id="sell-market-quantity-ship" class="value val-quantity" type="text" name="quantity-{{ ship_number }}" autocomplete="off" />
							</div>

							<hr />

							<div class="label-box sf-comship">
								<span class="label">Vaisseaux</span>
								<span class="value"></span>
								{#<img class="icon-color" alt="vaisseaux transports" src="{{ asset('build/media/resources/transport.png') }}">#}
							</div>

							<hr />

							<twig:Button :faction="current_player.faction" type="submit">
								Envoyer
							</twig:Button>
						</div>
					{% endif %}
				{% endfor %}
			</form>
		</section>
	</div>
</div>
