{% set transaction_data = get_transaction_data(transaction, current_base, current_rate) %}

<div
	id="transaction-{{ transaction.id }}"
	class="transaction {{ transaction.getTypeString() }} bg-gray-800 p-2 rounded-md border border-medium{{ transaction.player.faction.identifier }}"
	 data-sort-quantity="{{ transaction.quantity }}"
	 data-sort-price="{{ transaction_data.total_price }}"
	 data-sort-xp="{{ transaction.commander.experience ?? 0 }}"
	 data-sort-far="{{ transaction_data.time }}"
	 data-sort-cr="{{ transaction_data.rate }}">
	<header class="flex justify-between items-start">
		<div>
			<div class="product sh flex items-start gap-x-1" data-target="transaction-{{ transaction.id }}-dropdown">
				{% if transaction.hasResources %}
					<div class="offer flex items-center gap-x-1 text-xl font-semibold">
						{{ transaction.quantity|number }}
						<img src="{{ asset('images/legacy/picto/trade/Lot.svg') }}" alt="" class="inline w-4 h-4" />
					</div>
				{% elseif transaction.hasCommander %}
					<div class="offer">
						<strong class="text-sm">{{ get_commander_rank(transaction.commander.level) }} {{ transaction.commander.name }}</strong><br>
						<em class="text-sm">{{ transaction.commander.experience }} xp | {{ transaction.commander.palmares }} victoire{{ transaction.commander.palmares|plural }}</em>
					</div>
				{% elseif transaction.hasShips %}
					<div class="offer">
						<strong>{{ transaction.quantity }} {{ get_ship_info(transaction.identifier, 'codeName') ~ transaction.quantity|plural }}</strong>
						<em>{{ get_ship_info(transaction.identifier, 'name') }} / {{ get_ship_info(transaction.identifier, 'pev') }} pev</em>
					</div>
				{% endif %}
				<div class="for">
					<span class="text-sm">pour</span>
				</div>
				<div class="price flex items-center gap-x-1">
					{{ transaction_data.total_price|number }}
					<img src="{{ asset('images/legacy/picto/G_P_Mon_64px.png') }}" alt="" class="inline w-4 h-4" />
				</div>
			</div>

			<div class="text-xs">
				{{ transaction_data.rate > 100 ? '+' : '-' }}
				<span class="rate">{{ (100 - transaction_data.rate)|abs }} %</span>
				(par rapport au cours actuel)
			</div>
		</div>

		<twig:FactionBanner :faction="transaction.player.faction" class="h-8" />
	</header>

	<section class="mt-2">
		<p>
			vendu par
			<a href="{{ path('embassy', {'player': transaction.player.id}) }}" class="font-semibold text-light{{ transaction.player.faction.identifier }}">
				{{ transaction.player.name }}
			</a>
		</p>
		<p>
			depuis
			<a href="{{ path('map', {'place': transaction.base.place.id }) }}">
				{{ transaction.base.name }}
			</a>
			<span class="text-light{{ transaction.base.place.system.sector.faction.identifier }}">
				[secteur {{ transaction.base.place.system.sector.identifier }}]
			</span>
		</p>
	</section>

	<section class="my-2">
		<details name="transaction-price" class="bg-gray-900 p-2 rounded-md border border-gray-500">
			<summary class="text-xs cursor-pointer">Voir le détail du prix</summary>

			<div class="price-detail [&>p]:text-right">
				<p>
					{{ transaction.price|number }}
					<img src="{{ asset('images/legacy/picto/G_P_Mon_64px.png') }}" class="inline w-4 h-4" alt="crédit" />
				</p>
				<p class="hb lt" title="taxe de vente de {{ get_faction_info(transaction_data.export_faction.identifier, 'popularName') }} sur les produits vendus à {{ get_faction_info(transaction_data.import_faction.identifier, 'popularName') }}">
					+
					<span class="text-light{{ transaction_data.export_faction.identifier }}">taxe ({{ transaction_data.export_tax }}%) </span>
					{{ transaction_data.export_price|number }}
					<img src="{{ asset('images/legacy/picto/G_P_Mon_64px.png') }}" class="inline w-4 h-4" alt="crédit" />
				</p>
				<p class="hb lt" title="taxe d'achat de {{ get_faction_info(transaction_data.import_faction.identifier, 'popularName') }} sur les produits {{ get_faction_info(transaction_data.export_faction.identifier, 'demonym') }}">
					+
					<span class="text-light{{ transaction_data.import_faction.identifier }}">taxe ({{ transaction_data.import_tax }}%) </span>
					{{ transaction_data.import_price|number }}
					<img src="{{ asset('images/legacy/picto/G_P_Mon_64px.png') }}" class="inline w-4 h-4" alt="crédit" /></p>
				<hr />
				<p>
					{{ transaction_data.total_price|number }}
					<img src="{{ asset('images/legacy/picto/G_P_Mon_64px.png') }}" class="inline w-4 h-4" alt="crédit" />
				</p>
			</div>
		</details>
	</section>

	<footer>
		<a href="{{ path('accept_offer', {'id': transaction.id}) }}" class="w-full">
			<twig:Button :faction="transaction.player.faction" class="w-full">
				<div class="flex items-center gap-x-1 text-sm">
					acheter pour {{ transaction_data.total_price|number }}
					<img class="inline w-4 h-4" alt="crédits" src="{{ asset('images/legacy/picto/G_P_Mon_64px.png') }}">
				</div>
				<span class="text-xs">
					durée du transit {{ transaction_data.time|lite_seconds }}
				</span>
				{#<img class="icon-color" alt="relèves" src="{{ asset('build/media/resources/time.png') }}">#}
			</twig:Button>
		</a>
	</footer>
</div>
