<div class="base">
	<img src="{{ asset('build/media/map/place/place1-' ~ get_planet_size(base.place.population) ~ '.png') }}" alt="{{ base.name }}" class="place" />
	{{ base.typeOfBase|scalar_base_type }}
	<a href="{{ path('map', {'place': base.place.id }) }}">{{ base.name }}</a><br />
	de <a href="{{ path('embassy', {'player': base.player.id }) }}">{{ base.player.name }}</a><br />
	{{ base.place.population|number }} millions de population
</div>
