<div class="transaction {{ get_transaction_class(commercial_shipping) }}">
	{% if not commercial_shipping.isMovingBack %}
		<div class="product">
			{% if commercial_shipping.isWaiting %}
				<a href="{{ path('cancel_offer', {'id': commercial_shipping.transaction.id }) }}"
				   class="hb lt right-link"
				   title="supprimer cette offre coûtera {{ get_cancellation_price(commercial_shipping) }} crédits"
				>×</a>
			{% endif %}
			{% if commercial_shipping.hasResources %}
				<img src="{{ asset('build/media/market/resources-pack-' ~ commercial_shipping|commercial_shipping_picto ~ '.png') }}" alt="" class="picto" />
				<div class="offer">
					{# @TODO seems that resources selling isn't sure about the used property #}
					{# resourceTransported is used when giving resources, quantity is used when selling. @TODO use only one field #}
					{{ (commercial_shipping.resourceTransported == 0 ? commercial_shipping.transaction.quantity : commercial_shipping.resourceTransported)|number }}
					<img src="{{ asset('build/media/resources/resource.png') }}" alt="" class="icon-color" />
				</div>
			{% elseif commercial_shipping.hasCommander %}
				<img src="{{ asset('build/media/commander/small/' ~ commercial_shipping.transaction.commander.avatar ~ '.png') }}" alt="" class="picto" />
				<div class="offer">
					<strong>{{ commercial_shipping.transaction.commander|commander_rank }} {{ commercial_shipping.transaction.commander.name }}</strong>
					<em>{{ commercial_shipping.transaction.commander.experience|number }} xp | '{{ commercial_shipping.transaction.commander.palmares }} victoire{{ commercial_shipping.transaction.commander.palmares|plural }}</em>
				</div>
			{% elseif commercial_shipping.hasShips %}
				<img src="{{ asset('build/media/ship/picto/ship' ~ commercial_shipping.transaction.identifier ~ '.png') }}" alt="" class="picto" />
				<div class="offer">
					<strong>
						{{ commercial_shipping.transaction.quantity }}
						{{ get_ship_info(commercial_shipping.transaction.identifier, 'codeName') }}{{ commercial_shipping.transaction.quantity|plural }}
					</strong>
					<em>{{ get_ship_info(commercial_shipping.transaction.identifier, 'name') }} / {{ get_ship_info(commercial_shipping.transaction.identifier, 'pev') }} pev</em>
				</div>
			{% endif %}

			{% if commercial_shipping.resourceTransported is null %}
				{# transaction #}
				<div class="for">
					<span>pour</span>
				</div>
				<div class="price">
					{{ commercial_shipping.transaction.price|number }}
					<img src="{{ asset('build/media/resources/credit.png') }}" alt="" class="icon-color" />
				</div>
			{% elseif commercial_shipping.resourceTransported == 0 %}
				{# ships sending #}
				<div class="for"><span></span></div>
				<div class="price">
					envoi de vaisseaux
				</div>
			{% else %}
				{# resources sending #}
				<div class="for"><span></span></div>
				<div class="price">
					envoi de ressources
				</div>
			{% endif %}
		</div>
	{% endif %}

	{% if not commercial_shipping.isWaiting %}
		<div class="shipping progress"
			 data-progress-current-time="{{ commercial_shipping|travel_remaining_time }}"
			 data-progress-total-time="{{ commercial_shipping|travel_total_time }}"
			 data-progress-output="lite"
		>
			<span class="progress-container">
				<span style="width: {{ commercial_shipping|travel_remaining_time|percent(commercial_shipping|travel_total_time) }}%;" class="progress-bar"></span>
			</span>
	{% else %}
		<div class="shipping">
	{% endif %}

	<div class="ships">
		{{ commercial_shipping.shipQuantity }}
		<img src="{{ asset('build/media/resources/transport.png') }}" alt="" class="icon-color" />
	</div>

	{% if commercial_shipping.isWaiting %}
		<div class="time">à quai</div>
	{% else %}
		<div class="time progress-text"></div>
	{% endif %}
	</div>
</div>
