<div id="subnav">
	<button class="move-side-bar top" data-dir="up"> </button>
	<div class="overflow">
		<a href="{{ path('faction_overview') }}" class="item {% if app.request.get('_route') == 'faction_overview' %}active{% endif %}">
			<span class="picto">
				<img src="{{ asset('build/media/faction/nav/overview.png') }}" alt="" />
			</span>
			<span class="content skin-1">
				<span>Vue générale</span>
			</span>
		</a>

		{% if faction.hasOngoingElectionCampagin %}
			<a href="{{ path('view_faction_election') }}" class="item {% if app.request.get('_route') == 'faction_election' %}active{% endif %}">
				<span class="picto">
					<img src="{{ asset('build/media/faction/nav/election.png') }}" alt="" />
				</span>
				<span class="content skin-1">
					<span>Election</span>
				</span>
			</a>
		{% endif %}

		{#
		<a href="{{ path('faction_forum') }}" class="item {% if app.request.get('_route') == 'faction_forum' %}active{% endif %}">
			<span class="picto">
				<img src="{{ asset('build/media/faction/nav/forum.png') }}" alt="" />
			</span>
			<span class="content skin-1">
				<span>Forum</span>
			</span>
		</a>
		#}

		{% if current_player.isGovernmentMember %}
			<a href="{{ path('faction_government') }}" class="item {% if app.request.get('_route') == 'faction_government' %}active{% endif %}">
				<span class="picto">
					<img src="{{ asset('build/media/faction/nav/government.png') }}" alt="" />
				</span>
				<span class="content skin-1">
					<span>Gouvernement</span>
				</span>
			</a>
		{% endif %}

		{% if current_player.isParliamentMember %}
			<a href="{{ path('faction_senate') }}" class="item {% if app.request.get('_route') == 'faction_senate' %}active{% endif %}">
				<span class="picto">
					<img src="{{ asset('build/media/faction/law/common.png') }}" alt="" />
				</span>
				<span class="content skin-1">
					<span>Sénat</span>
				</span>
			</a>
		{% endif %}

		<a href="{{ path('faction_data') }}" class="item {% if app.request.get('_route') == 'faction_data' %}active{% endif %}">
			<span class="picto">
				<img src="{{ asset('build/media/faction/nav/data.png') }}" alt="" />
			</span>
			<span class="content skin-1">
				<span>Registres</span>
			</span>
		</a>

		<a href="{{ path('faction_members') }}" class="item {% if app.request.get('_route') == 'faction_members' %}active{% endif %}">
			<span class="picto">
				<img src="{{ asset('build/media/faction/nav/register.png') }}" alt="" />
			</span>
			<span class="content skin-1">
				<span>Membres</span>
			</span>
		</a>
	</div>
	<button class="move-side-bar bottom" data-dir="down"> </button>
</div>
