{% extends 'layouts/game.html.twig' %}

{% block left_sidebar %}
	{{ include('molecules/financial/subnav.html.twig') }}
{% endblock left_sidebar %}

{% block body %}
	<twig:PageTitle>
		Transferts de crédits
	</twig:PageTitle>

	<div id="content" class="grid grid-cols-2 gap-4 mx-4 md:mx-56 mt-2 md:mt-6">
		{{ include('components/financial/transfers/player_sending.html.twig') }}
		{{ include('components/financial/transfers/faction_sending.html.twig') }}
		{{ include('components/financial/transfers/sendings_history.html.twig') }}
		{{ include('components/financial/transfers/receivings_history.html.twig') }}
	</div>
{% endblock body %}
